<head>
<!-- Title -->
<title>{{ page.title }} - ICACHI 世界华人华侨人机交互协会</title>

<!-- Required Meta Tags Always Come First -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/fontawesome/css/all.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/aos/dist/aos.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/dzsparallaxer/dzsparallaxer.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/cubeportfolio/css/cubeportfolio.min.css">

<!-- CSS Front Template -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.min.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-32872028-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-32872028-1');
</script>
</head>
