    <!-- Hero Section -->
    <div class="position-relative bg-primary overflow-hidden">
        <div
          class="container position-relative z-index-2 space-top-3 space-top-md-3 space-bottom-2 space-bottom-md-2 text-center">
          <div class="w-md-80 w-xl-80 text-center mx-md-auto">
            <div class="mb-7">
              <!-- <h1>
                <span class="text-light text-highlight-light">
                  <span class="js-text-animation" data-hs-typed-options='{
                          "strings": ["Human.", "Technology.", "Future."],
                          "typeSpeed": 90,
                          "loop": true,
                          "backSpeed": 30,
                          "backDelay": 2500
                        }'></span>
                </span>
              </h1> -->
  
              <h1 class="display-2 mb-4 custom-font">{{ site.title23 | escape }}</h1>
              <h1 class="display-5 custom-font mt-3">创智 · 反思 · 展望</h1>
              <h1 class="display-5  mb-4 custom-font">Generative · Reflective · Envisioning
              </h1>
              <hr style="border-color:black">
              <h2 class="mb-1">November 13~16, 2023, Tsinghua Southeast Asia Center at UID Bali Campus, Kura Kura Bali, Denpasar, Bali, Indonesia</h2>
              <h3 class="mb-4">2023年11月13~16日, 清华大学东南亚中心，酷乐酷乐岛, 印度尼西亚巴厘岛</h2>
                <br>
                <br>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                
              <!-- <hr style="border-color:black" id="liveshow"> -->
              <!-- <h6 class="text-white mt-1 mb-0">Coming Soon...</h6> -->
              <!-- <a class="btn btn-light btn-wide btn-pill shadow-soft transition-3d-hover mb-2 mb-sm-0 mr-2 mt-3"
                href="#registration">Registration 注册 <i class="fas fa-angle-right"></i></a> -->
              <!-- <a class="btn btn-light btn-wide btn-pill shadow-soft transition-3d-hover mb-2 mb-sm-0 mr-2 mt-3"
                data-toggle="collapse" href="#livestream" role="button" aria-expanded="false"
                aria-controls="collapseExample" target="_blank">
                Live Stream 直播 <i class="fas fa-angle-down"></i>
              </a> -->
              <!-- <h4 class="mb-2">Bilibili直播</h4>
              <p class="text-justify text-body h6 text-cap mb-4">直播环节：开幕式（北京时间 11月5日 9:00-12:00），圆桌论坛：人机交互跨学科融合与产学研协同发展模式探讨（11月5日 15:00 - 17:30），“智慧出行”主题论坛暨创新大赛发布会（11月6日 09:30 - 11:40），主题论坛：未来智慧交互发展（11月6日 14:00 - 16:30），闭幕式（11月6日 17:00-18:30），详情请见<a href="#program">会议议程</a></p>
              <div class="row" id="liveshow">
                
                <div class="col-4 offset-lg-2"><img class="w-30 mb-2" src="{{ site.baseurl }}/assets/img/barcodes/icachi.png" alt=""><br><a href="http://live.bilibili.com/22888922" target="_blank">ICACHI直播</a></div>
                
                <div class="col-4"><img class="w-30 mb-2" src="{{ site.baseurl }}/assets/img/barcodes/gut.png" alt=""><br><a href="https://live.bilibili.com/5277969" target="_blank">广工设计学院直播</a></div>
              </div> -->
              
              
              <!-- <a class="btn btn-light btn-wide btn-pill shadow-soft transition-3d-hover mb-2 mb-sm-0 mr-2 mt-3 disabled"
                href="https://app.sli.do/event/axjw9pft/live/questions" target="_blank">Q&A Platform 问答 <i
                  class="fas fa-angle-right"></i></a> -->
              <!-- <a class="btn btn-light btn-wide btn-pill shadow-soft transition-3d-hover mb-2 mb-sm-0 mr-2 mt-3 disabled"
                href="https://www.wjx.cn/vj/wFkEHwU.aspx" target="_blank">Survey 调查 <i class="fas fa-angle-right"></i></a> -->
  
  
              <!-- <div class="collapse mt-4 pt-4" id="livestream">
                <div class="row justify-content-center">
                  <div class="col-md-4 mb-7 mb-lg-0">
                    <a id="popoveryg" rel="popover" class="text-center px-md-3 px-lg-10" data-content=""
                      title="Live URL of Youtube" href="https://youtu.be/f4SkpGfDaU4" target="_blank">
                      <img class="max-w-5rem mx-auto" style="max-width:6rem;" src="./static/barcodes/YouTube.png"
                        alt="Image Description">
                    </a>
                    <h5 class="text-white mt-3">Youtube直播</h5>
                  </div>
  
                  <div class="col-md-4 mb-7 mb-lg-0">
                    <a id="popoverbili" class="text-center px-md-3 px-lg-10" rel="popover" data-content=""
                      title="Live URL of Bilibili" href="https://live.bilibili.com/22888922" target="_blank">
                      <img class="max-w-5rem mx-auto" style="max-width:6rem;" src="./static/barcodes/bilibili.png"
                        alt="Image Description">
                    </a>
                    <h4 class="text-white mt-3">Bilibili直播</h4>
                  </div>
  
                   <div class="col-md-4 mb-7 mb-lg-0">
                    <a id="popoverbili" class="text-center px-md-3 px-lg-10 column-divider-md column-divider-20deg"
                      rel="popover" data-content="" title="Live URL of Bilibili" href="#" target="_blank">
                      <img class="max-w-5rem mx-auto" style="max-width:6rem;" src="./static/barcodes/wiz.png"
                        alt="Image Description">
                    </a>
                    <h4 class="text-white mt-3">腾讯Wiz直播</h4>
                  </div>
                </div>
  
              </div> -->
            </div>
  
          </div>
        </div>
  
        <img class="position-absolute top-0 start-50 translate-middle hero-size" src="{{ site.baseurl }}/assets/img/background/bga.jpg" alt="">
        <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
          </svg>
        </figure>
        <!-- End SVG Shapes -->
      </div>
      <!-- End Hero Section -->
      <div class="mb-4"></div>