    <!-- Hero Section -->
    <div class="position-relative bg-primary overflow-hidden">
        <div
          class="container position-relative z-index-2 space-top-3 space-top-md-3 space-bottom-2 space-bottom-md-2 text-center">
          <div class="w-md-80 w-xl-80 text-center mx-md-auto">
            <div class="mb-7">

              <h1 class="display-2 mb-4 custom-font">{{ site.title23 | escape }}</h1>
              <h1 class="display-5 custom-font mt-3">创智 · 反思 · 展望</h1>
              <h1 class="display-5  mb-4 custom-font">Generative · Reflective · Envisioning
              </h1>
              <hr style="border-color:black">
              <h2 class="mb-1">November 13~16, 2023, Tsinghua Southeast Asia Center at UID Bali Campus, Kura Kura Bali, Denpasar, Bali, Indonesia</h2>
              <h3 class="mb-4">2023年11月13~16日, 清华大学东南亚中心，酷乐酷乐岛, 印度尼西亚巴厘岛</h3>
                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <br>

            </div>

          </div>
        </div>

        <img class="position-absolute top-0 start-50 translate-middle hero-size" src="{{ site.baseurl }}/assets/img/background/bga.jpg" alt="">
        <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
          </svg>
        </figure>
        <!-- End SVG Shapes -->
      </div>
      <!-- End Hero Section -->
      <div class="mb-4"></div>