<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%- seo -%}

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/aos/dist/aos.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/dzsparallaxer/dzsparallaxer.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
  {%- if page.year == "25" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-25.css">
  {%- endif %}
</head>
