---
layout: 23/default
---

<div class="navbar navbar-vertical" id="sider-menu" style="position: fixed; z-index: 2147483647; max-width: 16rem;">
    <ul class="navbar-nav navbar-nav-lg nav-tabs">
        <li role="presentation" class="nav-item "><a class="nav-link active" href="#paper">Paper & LBW</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#callforworkshop">Workshop</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#callforartworks">Artworks</a></li>

    </ul>
  </div>

<div class="blockList">
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9"  id="paper">
    <h2>Call for Papers</h2>
    <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
        href="https://easychair.org/conferences/?conf=chchi2023" target="_blank"> Submit <i
            class="fas fa-angle-right"></i></a>
</div>

<div class="container space-1 mt-n4">
    <div class="tab-wrapper">

        <ul class="nav nav-classic" id="paper-tab-1" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="paper-result-tab-1" data-toggle="pill" href="#paper-result-1" role="tab"
                    aria-controls="paper-result-1" aria-selected="true">English</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="paper-html-tab-1" data-toggle="pill" href="#paper-html-1" role="tab"
                    aria-controls="paper-html-1" aria-selected="false">中文</a>
            </li>
        </ul>

        <div class="tab-content" id="paper-tabContent-1">
            <div class="tab-pane active show p-4" id="paper-result-1" role="tabpanel"
                aria-labelledby="paper-result-tab-1">
                <p class="text-justify">
                    The International Chinese Association of Computer Human Interaction (ICACHI) is delighted to announce the upcoming Chinese CHI 2023 Conference will occur in Bali, Indonesia (with additional hybrid/virtual participation) from November 13th to 16th, 2023. The conference theme for this year is "Generative, Reflect, Envision."                    <br>
                    <br>
                    Chinese CHI is the premier venue for connecting Chinese HCI researchers, practitioners, and industry leaders worldwide. Since its inception in 2012, Chinese CHI has successfully been held in Paris, Toronto, Seoul, Silicon Valley, Guangzhou, Montreal, and Xiamen. Accepted papers at the conference are published annually in ACM Digital Library and submitted to be reviewed and indexed by EI Compendex.                    <br>
                    <br>
                    In recent years, we have witnessed continuous advancements in artificial intelligence, which have brought about both new possibilities and challenges. As we navigate this dual nature of technological progress, we also face emerging issues that demand our attention. Chinese CHI 2023 will explore multifaceted challenges posed by novel technologies and their applications, encompassing technical, social, ethical, and theoretical dimensions, with an overarching goal of uncovering new avenues and possibilities for future HCI research.
                    <br>
                    <br>
                    We invite contributions to Chinese CHI 2023 across a variety of research domains, including but not limited to:
                <ul>
                    <li>User Experience and Usability</li>
                    <li>Health, Accessibility and Aging</li>
                    <li>Games and Play</li>
                    <li>Generative AI and HCI</li>
                    <li>Human-Robot Interaction</li>
                    <li>Affective Computing & Intelligent Interaction</li>
                    <li>Visualization</li>
                    <li>Design</li>
                    <li>Privacy, Security, Ethics and Critical Computing</li>
                    <li>Interaction Techniques, Devices and Modalities</li>
                    <li>Understanding People: Theory, Concepts, Methods</li>
                    <li>Engineering Interactive Systems and Technologies</li>
                    <li>Specific Application Areas</li>
                </ul>
                On top of that, we particularly welcome submissions in the Chinese cultural context, with example topics including but not limited to:
                <ul>
                    <li>Chinese Traditional Culture Oriented HCI</li>
                    <li>Technology Use or Development in the Chinese Context</li>
                    <li>Understanding Chinese Users</li>
                    <li>Interaction Techniques Tailored to Chinese Users</li>
                    <li>Community Engagement in China</li>
                </ul>
                </p>

                <h3>Important Dates</h3>
                <p class="text-justify">
                    All times are in Anywhere on Earth (AoE) time zone.
                </p>
                <p class="text-justify">
                    Papers Submission:
                <ul>
                    <li><del>Abstract Due: <strong style="color:grey;">July 22, 2023, 23:59</strong></del></li>
                    <li>Full Paper Due: <strong style="color:black;">August 31, 2023, 23:59</strong></li>
                    <li>Decision Notification: <strong style="color:black;">October 3, 2023</strong></li>
                </ul>
                Late-Breaking Works Submission:
                <ul>
                    <li>Submission Due: <strong style="color:black;">August 31, 2023, 23:59</strong></li>
                    <li>Decision Notification: <strong style="color:black;">October 10, 2023</strong></li>
                </ul>
                </p>

                <h3>Formatting and Length</h3>
                <p class="text-justify">
                    <ul>

                        <li>
                            All submissions for Chinese CHI are to be written in English. Submission must be anonymized and in PDF file format. Please follow the instructions for Word, LaTex, and Overlead authors given below:
                            <ul>
                                <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx" target="_blank">Word</a></li>
                                <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip" target="_blank">LaTex</a></li>
                                <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc" target="_blank">Overleaf</a></li>
                            </ul>
                        </li>
                    </ul>
                </p>

                <h3>Length limits</h3>
                <p class="text-justify">
                    <ul>
                        <li>Papers: 20 pages max, excluding references. </li>
                        <li>Late-Breaking Works: 8 pages max, excluding references.</li>
                    </ul>
                </p>

                <h3>Selection Process</h3>
                <p class="text-justify">
                    Submissions will be reviewed in a double-blind process, and authors must ensure that their names and affiliations do not appear on the submitted papers.
                    <br>
                    <br>
                    Authors submitting papers and late-break works must comply with the Chinese CHI reviewing policy including, but not limited to:
                    <ul>
                        <li>To ensure the integrity of the peer review process, we ask that no authors publicize the work until the review process is complete.</li>
                        <li>The work submitted should not have previously been published or accepted for publication, nor should the work be submitted in parallel to other conferences or archival or publication venues.</li>
                        <li>The submission should be original and an honest representation of the underlying work.</li>
                    </ul>
                </p>

                <h3>Submission Details</h3>
                <p class="text-justify">
                    Online Submission Site: <a href="https://easychair.org/conferences/?conf=chchi2023"
                        target="_blank">Easychair</a>
                    <br>
                    <br>
                    Each accepted paper/Late-Breaking Works should be accompanied by at least one author registration to be inlcuded in the conference program. At least one author of each accepted paper must be registered to attend the conference. We look forward to meeting you in Chinese CHI 2023!
                </p>
            </div>
            <div class="tab-pane fade p-4" id="paper-html-1" role="tabpanel" aria-labelledby="paper-html-tab-1">
                <p class="text-justify">
                    世界华人华侨人机交互协会 (International Chinese Association of Computer Human Interaction，简称"ICACHI") 举办的 Chinese CHI 2023 会议将于2023年11月13日至16日在印度尼西亚巴厘岛，采取线上线下同步方式进行。本次会议主题为：创智 (Generative)、反思 (Reflect)、展望 (Envision)。
                    <br>
                    <br>
                    由世界华人华侨人机交互协会 (ICACHI) 举办的这一学术会议已成为连接世界范围内的华人HCI学者、学术界和产业界的重要会议。从2012年起，Chinese CHI已分别在巴黎、多伦多、首尔、硅谷、中国广州、加拿大蒙特利尔以及中国厦门成功举办。历届会议发表论文均会收录于ACM Digital Library，并提交EI检索。
                    <br>
                    <br>
                    当前，我们生活的时代，希望和问题共存：一方面，我们在过去的一年见证了人工智能领域技术的不断突破；另一方面，我们正面临着全球性的生存威胁。站在人类发展的交叉点，本届会议将探讨未来人机交互发展的可能性，以及由新的技术及其应用引发的伦理、道德、价值选择等问题。
                    <br>
                    <br>
                    征稿范围 (包括但不限于) :
                <ul>
                    <li>User Experience and Usability</li>
                    <li>Health, Accessibility and Aging</li>
                    <li>Games and Play</li>
                    <li>Generative AI and HCI</li>
                    <li>Human-Robot Interaction</li>
                    <li>Affective Computing & Intelligent Interaction</li>
                    <li>Visualization</li>
                    <li>Design</li>
                    <li>Privacy, Security, Ethics and Critical Computing</li>
                    <li>Interaction Techniques, Devices and Modalities</li>
                    <li>Understanding People: Theory, Concepts, Methods</li>
                    <li>Engineering Interactive Systems and Technologies</li>
                    <li>Specific Application Areas</li>
                </ul>
                此外，会议也关注中国文化背景下的人机交互，选题包括但不限于:
                <ul>
                    <li>Chinese Traditional Culture Oriented HCI</li>
                    <li>Technology Use or Development in the Chinese Context</li>
                    <li>Understanding Chinese Users</li>
                    <li>Interaction Techniques Tailored to Chinese Users</li>
                    <li>Community Engagement in China</li>
                </ul>
                </p>

                <h3>截止日期</h3>
                <p class="text-justify">
                    自本征文通知发布之日起接收论文投稿，本届会议征稿类型分为长文 (Papers) 与短文 (Late Breaking Work) 两种类别：
                </p>
                <p class="text-justify">
                    长文 (Papers) 截止时间:
                <ul>
                    <li><del>摘要：<strong style="color:grey;">2023年7月22日 23:59 (AOE时间)</strong></del></li>
                    <li>全文：<strong style="color:black;">2023年8月31日 23:59 (AOE时间)</strong></li>
                    <li>长文类录用结果通知：<strong style="color:black;">2023年10月3日 (AOE时间)</strong></li>
                </ul>
                短文 (Late Breaking Work) 截止时间:
                <ul>
                    <li>全文：<strong style="color:black;">2023年8月31日 23:59 (AOE时间)</strong></li>
                    <li>短文类录用结果通知：<strong style="color:black;">2023年10月10日 (AOE时间)</strong></li>
                </ul>
                </p>

                <h3>稿件要求</h3>
                <p class="text-justify">
                    <ul>
                        <li>本次会议仅接受英文投稿，投稿须以PDF格式匿名提交。</li>
                        <li>
                            格式须采用ACM Conference Proceedings Primary Article Template模板，模版下载：
                            <ul>
                                <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx" target="_blank">Word格式</a></li>
                                <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip" target="_blank">LaTex格式</a></li>
                                <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc" target="_blank">Overleaf</a></li>
                            </ul>
                        </li>
                        <li>来稿长度：长文20页以内 (不含参考文献)；短文8页以内 (不含参考文献)。</li>
                        <li>投稿到 Chinese CHI 2023的论文必须是未公开发表过的，并且不能同时被投稿到其他会议和期刊。</li>
                        <li>作者应遵守学术规范。大会委员会将严格把关论文质量，严查学术不端，出现相关问题责任由作者本人承担，协会将保留追究作者责任的权利。</li>
                    </ul>
                </p>

                <h3>稿件提交</h3>
                <p class="text-justify">
                    来稿须通过<a href="https://easychair.org/conferences/?conf=chchi2023"
                        target="_blank">Easychair</a>会议系统在线提交。
                </p>

                <h3>论文录用</h3>
                <p class="text-justify">
                    长文、短文类稿件审稿流程均采取匿名同行评议 (Blinded Peer Review)，并邀请人机交互领域经验丰富的学者担任审稿工作。
                    <br>
                    <br>
                    本届会议获学术与产业界合作伙伴多方支持，并由来自国际知名院校及企业的资深学者担任主讲人及研讨会嘉宾。被接收论文将由作者在会议期间以报告或视频简介的形式进行展示。届时，参会者将有机会与来自全球各地的人机交互学者交流研讨。论文经同行评议获得录取后，至少有一名作者需缴纳会议注册费。欢迎各位同仁踊跃投稿！
                </p>

            </div>
        </div>

    </div>

</div>
<!-- Team Section -->
</div>

<!-- Title -->

<!-- End Title -->

<!-- Team Section -->

<div class="blockList">
<!-- Title -->
<hr class="text-center space-1" id="callforworkshop">
<!-- End Title -->
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9">
    <h2>Call for Workshop</h2>
    <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
        href="mailto:workshop.chichi@gmail.com" target="_blank"> Submit to workshop.chichi@gmail.com</a>
</div>
<div class="container space-1 mt-n4">
    <p class="text-justify">
        We invite you to submit proposals for workshops at Chinese CHI 2023. The workshops can focus on any area related to the field of human-computer interaction, industrial design, user experience and user interface design. In particular, workshops on challenging, emerging areas related to this year's conference topics are especially sought. The workshops might address basic research, applied research, HCI practice, HCI education, new methodologies, emerging application areas, or design innovations.
    </p>
    <p class="text-justify">
        We highly encourage the enterprise research, design or engineering team in the company to organize a workshop. The enterprise organizers could provide their developer tools/design platform for participants, and testing the newly designed technologies in the workshop and collect feedback. It might also be a good place to brainstorm new applications and usage context for the newly developed HCI technologies.
    </p>
    <p class="text-justify">
        We also highly encourage PhD students in the area of HCI and design, to consider organizing a workshop and leverage it as a place to share your research results or evaluate your design methods. It might be a good chance to find researchers who care about the same challenges, questions, and research agendas as you.
    </p>
    <p class="text-justify">
        We particularly encourage proposals for
    <ol>
        <li><strong class="text-dark">Highly interactive workshops. </strong>If you are working on developing new technologies or modalities for HCI, you could bring your interactive prototypes to the workshop, where the attendees could work together to think about the potential application areas, use cases, research topic or that suggest promising directions for future work.</li>
        <li><strong class="text-dark">Highly collaborative workshops. </strong>If you are working on developing new design methods, you could apply your design methods in organizing a co-creation workshop on relevant design topics. The outcomes of the workshops can be used to evaluate your methods.</li>
    </ol>
    </p>
    <h3>Quick Facts</h3>
    <p class="text-justify">
        The expected dates of the workshops would be <strong class="text-dark">November 13-16, 2023 (TBD)</strong>, before the
        main track of the conference.
    </p>
    <p class="text-justify">
        Workshops are scheduled for either <strong class="text-dark">half day or one day long</strong>. A typical
        workshop will have <strong class="text-dark">8 to 15</strong> participants.
    </p>
    <p class="text-justify">
        The workshop registration fee for one organizer will be exempted.
    </p>

    <h3>Selection Process</h3>
    <p class="text-justify">
        The following is an outline of the submission and organization process of Workshop.
    <ul>
        <li>Workshop organizers submit a workshop proposal (see below for content and format) to Chinese CHI.</li>
        <li>The submitted workshop proposals will be by reviewed by members of the program committee and peer experts.</li>
        <li>The Workshop Chairs choose which workshops will be accepted for the conference.</li>
        <li>Once a workshop is accepted, workshop organizers are responsible for publicizing the workshop and soliciting potential participants. Workshop organizers solicit participants for their workshop through a Call for Participation. Chinese CHI will also place a link to the workshop's website on a page listing accepted workshops.</li>
        <li>Upon acceptance, the workshop organizers are required to create a sharable booklet, or a website with workshop specific information. The workshop organizers may decide to cap the number of attendees for the workshop.</li>
        <li>Organize the workshop with attendees.</li>
    </ul>
    </p>

    <h3>Important Dates</h3>
    <p class="text-justify">
    <ul>
        <li>Proposal Submission Due: <strong style="color:black;">September 20th 23:59, 2023 AoE</strong></li>
        <li>Jury Notification: <strong style="color:black;">October 10th, 23:59, 2023 AoE</strong></li>
    </ul>
    </p>

    <br>
    <h3>Preparing and Submitting Your Workshop Proposal</h3>
    <p class="text-justify">
        Workshop proposals should consist of the following components:
    <ol>
        <li><strong>Organizers</strong>
            <ul>
                <li>Name: organizers' full names</li>
                <li>Contact information: affiliations, job titles, postal addresses, e-mail addresses, URLs, and phone</li>
                <li>Brief biography: 100-200 words, focusing on the organizers' expertise in the field and experience as
                    workshop organizers</li>
            </ul>
        </li>
        <li><strong>Workshop content</strong>
            <ul>
                <li>Title: workshop title </li>
                <li>Abstract: max 150 words describing the workshop (suitable for the conference's website)</li>
                <li>Topics and motivation:
                    <ul>
                        <li>What are the topics, themes, and areas of interest of the workshop?</li>
                        <li>How is the workshop relevant to this year's Chinese CHI topic?</li>
                        <li>How does the workshop connect HCI, UX research communities?</li>
                    </ul>
                </li>
                <li>Goals and expected results:
                    <ul>
                        <li>Explicitly state the goals of the workshop and how you intend to reach them.</li>
                        <li>What are the expected results of the workshop?</li>
                    </ul>
                </li>
                <li>Format:
                    <ul>
                        <li>What is the planned workshop format (paper presentations, working sessions, lightning talks,
                            demonstrations, etc.)?</li>
                        <li>What are the planned pre- and post-workshop activities?</li>
                    </ul>
                </li>
                <li>Participants:
                    <ul>
                        <li>What is the expected number of submissions and participants? Provide a plan for attracting
                            sufficient submissions and promoting attendance</li>
                        <li>If applicable, please provide information from previous or related workshops. Have there
                            been previous workshops on the same or a closely related topic? When, where and with how many
                            participants?</li>
                        <li>Required equipment: Overhead projector, PC projector,
                            whiteboard, flip charts, microphone, etc.</li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
        <br>
        <strong>Please send your workshop proposal (.doc or .pdf) file to the following email address: <a
                href="mailto:workshop.chichi@gmail.com" target="_blank">workshop.chichi@gmail.com</a>.</strong>
        </p>
</div>
<!-- Team Section -->
</div>

<!-- Title -->

<!-- End Title -->

<!-- Team Section -->

<div class="blockList">
<!-- Title -->
<hr class="text-center space-1" id="callforartworks">
<!-- End Title -->
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9">
    <h2>Call for Artworks</h2>
    <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
        href="https://ayn9fuztpg.feishu.cn/share/base/form/shrcnV6uizobU6mjXOsejtDmIsd" target="_blank"> Submit</a>
</div>

<div class="container space-1 mt-n4">
    <div class="tab-wrapper">

        <div class="tab-content" id="com-tabContent-1">
            <div class="tab-pane active show p-4" id="com-result-1" role="tabpanel" aria-labelledby="com-result-tab-1">
                <h3>Quick Facts</h3>
                <p class="text-justify">
                    Chinese CHI 2023 is structured as a hybrid conference from Nov 13-16, 2023 in Bali, Indonesia.
                </p>

                <h3>Important Dates</h3>
                <p class="text-justify">
                    All times are in Anywhere on Earth (AoE) time zone. When the deadline is day D, the last time to submit is when D ends AoE. <a href="https://time.is/Anywhere_on_Earth" target="_blank">Check your local time in AoE</a>.
                <ul>
                    <li>Submission deadline: <strong style="color:black;">September 30, 2023</strong></li>
                    <li>Notification: <strong style="color:black;">October 15, 2023</strong></li>
                    <li>Exhibition arrangement completed deadline: <strong style="color:black;">November 12, 2023</strong></li>
                    <li>Award announcement: <strong style="color:black;">November 13, 2023</strong></li>
                </ul>
                </p>

                <h3>Theme</h3>
                <p class="text-justify">
                    This year’s Chinese CHI Art Gallery & Competition circles round the creation of artworks that symbolically, aesthetically, experientially recognize the need for distributed agency and enlivened accountability. This track intends to attract diverse artworks, creative inquiry, and arts-inclusive practices that emphasize inter-, trans- and anti-disciplinarity and bring awareness to HCI thinking and making. In coordination with the Chinese CHI 23 theme of <i>Generative · Reflective · Envisioning</i>, we encourage submissions of critical and experimental approaches to the art-making as well as, its contexts. Recommended themes include:
                    <ul>
                        <li>Health & Accessibility Design </li>
                        <li>Edutainment & Knowledge </li>
                        <li>Tools for Daily Living & Productivity</li>
                        <li>Sociability</li>
                        <li>Future Environment & Sustainable Design</li>
                        <li>Traditional culture & Art innovation</li>
                        <li>AIGC</li>
                        <li>Others</li>
                    </ul>
                    The Chinese CHI 23 Arts Gallery & Competition will combine both a physical space for experiencing works and an online selection for exhibition. Selected digital works will also be shown within the exhibition space in Bali.
                </p>

                <h3>Preparing and Submitting</h3>
                <p class="text-justify">
                The artworks proposed can include many different forms including installation, video, sound, vision, and performance, as well as works that are not so easily categorized. Submissions to the Arts Gallery & Competition for Chinese CHI2023 are non-anonymous (i.e. names and affiliations should be included in the proposal materials). Submissions must be made through <a href="https://ayn9fuztpg.feishu.cn/share/base/form/shrcnV6uizobU6mjXOsejtDmIsd" target="_blank">Here</a>.
                    <br>
                    <br>
                    Each artwork can only be submitted once. If you have any questions, please contact Art Gallery & Competition Chairs at <a href="mailto:artworkchchi@126.com">artworkchchi@126.com</a>.
                    <br>
                    <br>
                    Submissions must include the following four elements:
                </p>
                <p class="text-justify">
                    <strong class="text-dark">1. Introduction. </strong> An abstract 300 words long (including references, but references DO NOT count towards the words limits.), should include the following:
                <ul>
                    <li>Description of the work including written texts, images, sound, video</li>
                    <li>Artist’s statement giving background to the ideas and creation process</li>
                    <li>Inspiration, sources, materials, any research related to the artwork</li>
                    <li>Artist Profile: short bio, including previous exhibitions</li>
                </ul>
                </p>

                <p class="text-justify">
                    <strong class="text-dark">2. Still Image. </strong>Also required is one still image of the work of at least 1500×1200 pixels for describing your work.
                </p>

                <p class="text-justify">
                    <strong class="text-dark">3. Video. </strong>In addition, artists are strongly encouraged to submit a video of up to 2 mins in length for review purposes only. In this case, authors must provide less than 100MB (in MP4 using the codec H264) or provide a link (e.g., YouTube, Vimeo) in the proposal document. The video may be password protected; if this is the case, submitters must  include the password with the link.
                </p>

                <p class="text-justify">
                    <strong class="text-dark">4. Artwork Specification and Needs.</strong>
                    A separate supplemental specification document as a PDF file should be included. This should describe installation and space requirements for the work, as well as the indicative size and any unusual set up requirements. The specification should include up to four photographs or diagrams of the setup, and should outline basic technical requirements needed. In addition, this document should detail any potential risks (e.g. safety) and how the artwork intends to manage these risks.
                </p>

                <p class="text-justify"><strong class="text-dark">5. Authorization (after acceptance). </strong>After the artwork has been officially accepted, the author's group will be required to submit an authorization statement for the use of the artwork to the Chinese CHI Committee for online and offline exhibition and dissemination.
                </p>

                <h3>Awards</h3>
                <p class="text-justify">
                    All finalists earn a Certificate of Recognition. The winning entry will be recognized during the closing plenary session of the Chinese CHI 2023 conference. There will be <strong style="color:black;">one "Best Artwork Awards", two "Academy Awards", three "Innovation Awards" and five "Rising Star Awards"</strong>.
                </p>

                <h3>Selection Process and Criteria for Selection</h3>
                <p class="text-justify">
                    We are looking for insightful, playful, thought-provoking, evocative, critical, digital and interactive art experiences created by as diverse and broad group of creative practitioners as possible.
                    <br>
                    <br>
                    <strong class="text-dark">Submitted proposal documents</strong> may be selected for the exhibition catalog (and conference proceedings) or for both the exhibition catalog (and conference proceedings) and the exhibition.
                    <br>
                    <br>
                    Selection of works for exhibition in Pittsburgh will be based on the following criteria.
                    <ul>
                    <li><strong class="text-dark">Originality and Novelty: </strong>the proposal should demonstrate work that is highly original, creative and imaginative. It should exemplify novel concepts in surprising and challenging ways that add something to what exists already.</li>
                    <li><strong class="text-dark">Aesthetics: </strong>the work should have a strong aesthetic element and communicate effectively through form, function, behavior and emotion. Aesthetically interesting qualities include features that are pleasing and exciting as well as provocative.</li>
                    <li><strong class="text-dark">Realization: </strong>the work should have a tangible aspect, in the form of an installation, object or art piece that can be included at a reasonable cost. It should be built and executed to a high standard suitable to be exhibited at Chinese CHI 23.</li>
                    <li><strong class="text-dark">Response to theme: </strong>the work provides a critical or reflective response or commentary to the main conference theme of resilience.</li>
                </ul>
                </p>

                <h3>At the Conference / Selected Works </h3>
                <p class="text-justify">
                    Selected works will be displayed as part of the Art Gallery. Selected artists should be available prior to the main conference for installation of artworks.  Full instructions will be provided at the time of acceptance.
                <br>
                <br>
                *Please note that no funds are available to support the shipping or insurance of artworks or for artists’ fees. Suitable insurance should be arranged by individual contributors. Exhibiting artists in situ in Bali must be willing to deal with the delivery and installation of any works and provide suitable instructions for any operation details. Artists will need to make arrangements for the removal of their work after the physical show should they be selected. All works must be original and non-infringing of other rights holders within a legal definition.</p>

                <h3>Venue</h3>
                <p class="text-justify">
                    To be announced. A gallery space on or near the Tsinghua Southeast Asia Center at UID Bali Campus, Kura Kura Bali.
                </p>

                <h3>Chinese CHI 2023  Art Gallery & Competition Chair </h3>
                <p class="text-justify">
                    <ul>
                    <li>师丹青 Danqing Shi, Tsinghua University, Beijing, China</li>
                    <li>林琳 Lin Lin, Xiamen University, Xiamen, Fujian, China</li>
                    <li>姚远 Yuan Yao, Beijing Jiaotong University, Beijing, China</li>
                    <li>陈琦 Qi Chen, Wuhan Textile University, Wuhan, Hubei, China</li>
                    <li>高志军 Zhijun Gao, Peking University, Beijing, China</li>
                    <li>刘冠宏 Guanhong Liu, Tongji University, Shanghai, China</li>
                </ul>
                <br>
                If you have any question, please contact <a href="mailto:artworkchchi@126.com">artworkchchi@126.com</a>
                </p>
            </div>

        </div>

    </div>

</div>
<!-- Team Section -->
</div>