---
layout: 23/default
---
<div class="w-md-80 w-lg-50 text-center mx-md-auto">
    <h2>Committee Members</h2>
</div>

<div class="container space-1 ">
    <div class="row mx-n2 mb-5 justify-content-center">
        <div class="col-sm-12 col-lg-4 px-2 mb-3">

            <div class="row mx-n2 mb-5 justify-content-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">General Chair</h4>
                    </div>
                    <a href="https://www.ad.tsinghua.edu.cn/info/1254/15204.htm" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/saima.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">马赛 Sai Ma</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 px-2 mb-3">

            <div class="row mx-n2 mb-5 justify-content-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">Local Chair</h4>
                    </div>
                    <a href="https://www.ad.tsinghua.edu.cn/info/1229/15141.htm" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/FuZhiyong.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">付志勇 Zhiyong Fu</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Secretary in General</h4>
            </div>
            <div class="row mx-n2 mb-5 justify-content-md-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/baiwenying.jpeg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">柏雯瑛 Wenying Bai</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Program Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://www.ad.tsinghua.edu.cn/info/1229/15119.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/mihaipeng.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">米海鹏 Haipeng Mi</h4>
                        <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://www.tue.nl/en/research/researchers/jun-hu/" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/junhu.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">胡军 Jun Hu</h4>
                        <p class="font-size-1">埃因霍芬理工大学 <br>Eindhoven University of Technology </p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://guanyundesign.com" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wangguanyun.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">王冠云 Guanyun Wang</h4>
                        <p class="font-size-1">浙江大学 <br>Zhejiang University</p>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Paper Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://thfl.tsinghua.edu.cn/yjdw/bs/fxy/index.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/fuxinyi.png"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">付心仪 Xinyi Fu</h4>
                        <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="#" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/xiaqing.jpg"
                                alt="Image Description">
                        </div>

                        <h4 class="text-lh-sm">夏晴 Qing Xia</h4>
                        <p class="font-size-1">鲁迅美术学院 <br>Lu Xun Academy of Fine Arts </p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://www.albany.edu/cehc/faculty/xiaojun-jenny-yuan" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/yuan.png"
                                alt="Image Description">
                        </div>

                        <h4 class="text-lh-sm">袁晓君 Xiaojun (Jenny) Yuan</h4>
                        <p class="font-size-1">纽约州立大学阿尔巴尼分校 <br>University at Albany, SUNY</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Late Breaking Work Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="#" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/TaoBi.png"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">毕涛 Tao Bi</h4>
                        <p class="font-size-1">伦敦大学学院 <br>University College London</p>
                    </div>
                </div>
            </a>
           
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
 
            <a href="taoye.me" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/taoye.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">陶冶 Ye Tao</h4>
                        <p class="font-size-1">浙大城市学院 <br>Hangzhou City University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
          
            <a href="https://www.researchgate.net/profile/Chiju-Chao" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/ChijuChao.png"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">赵季儒 Chiju Chao</h4>
                        <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
<div class="row">
    <div class="col-sm-12 col-lg-4 px-2 mb-3">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Technical Chair</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <a href="#" target="_blank">
            <div class="card transition-3d-hover text-center">
                <div class="card-body">
                    <div class="avatar avatar-lg avatar-circle mb-4">
                        <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wangchen-avatar.png"
                            alt="Image Description">
                    </div>
                    <h4 class="text-lh-sm">王晨 Chen Wang</h4>
                    <p class="font-size-1">高知工科大学 <br>Kochi University of Technology</p>
                </div>
            </div>
        </a>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-lg-8 px-2 mb-3">
        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Publicity Chairs</h4>
            <div class="row">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="https://dr-aaron.github.io/about/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/dujiachen.PNG"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">杜佳琛 Jacen Du</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#"
                        target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/chenmengyu.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">陈梦雨 Mengyu Chen</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

    </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-4 px-2 mb-3">
    
 <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Sponsor Chair</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            
            <a href="https://cdmc.xmu.edu.cn/info/1010/1053.htm" target="_blank">
                <div class="card transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/sheyingying.jpeg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">佘莹莹 Yingying She</h4>
                        <p class="font-size-1">厦门大学 <br>Xiamen University</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>
</div>

<div class="col-sm-12 col-lg-8 px-2 mb-3">
    <div class="col-sm-12 col-lg-12 px-2 mb-3">
        <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Financial Chairs</h4>
        <div class="row mx-n2 mb-5 justify-content-md-center">
            <div class="col-sm-12 col-lg-6 px-2 mb-3">
                
                <a href="http://www.jeffjianzhao.com/" target="_blank">
                    <div class="card h-100 transition-3d-hover text-center">
                        <div class="card-body">
                            <div class="avatar avatar-lg avatar-circle mb-4">
                                <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/jianzhao.jpg"
                                    alt="Image Description">
                            </div>
                            <h4 class="text-lh-sm">赵健 Jian Zhao</h4>
                            <p class="font-size-1">滑铁卢大学 <br>University of Waterloo</p>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-sm-12 col-lg-6 px-2 mb-3">
                
                <a href="https://www.dakuowang.com" target="_blank">
                    <div class="card h-100 transition-3d-hover text-center">
                        <div class="card-body">
                            <div class="avatar avatar-lg avatar-circle mb-4">
                                <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/dakuowang.jpg"
                                    alt="Image Description">
                            </div>
                            <h4 class="text-lh-sm">王大阔 Dakuo Wang</h4>
                            <p class="font-size-1">东北大学 <br>Northeastern University</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</div>
</div>

    <div class="row mx-n2 justify-content-md-center">

        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">SOCIAL MEDIA Chair</h4>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-12 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wudan.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">吴丹 Dan Wu</h4>
                                <p class="font-size-1">西安外国语大学 <br>Xi'an International Studies University </p>
                            </div>
                        </div>
                    </a>
                    
                </div>
    
            </div>
    
        </div>


        <div class="col-sm-12 col-lg-8 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Publication Chairs</h4>
            <div class="row">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhulin.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">朱琳 Lin Zhu</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="http://www.cityu.edu.hk/stfprofile/keninzhu.htm" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/keninzhu.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">朱克宁 Kening Zhu</h4>
                                <p class="font-size-1">香港城市大学 <br>City University of Hong Kong</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

    </div>


    <div class="row mx-n2 mb-3 justify-content-md-center">

        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Workshop Chairs</h4>
            <div class="row">
                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="https://teacher.nwpu.edu.cn/en/2022010123" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/fengyuan.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">冯媛 Yuan Feng</h4>
                                <p class="font-size-1">西北工业大学 <br>Northwestern Polytechnical University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="https://anpengcheng.cn" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/anpengcheng.jpeg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">安鹏铖 Pengcheng An</h4>
                                <p class="font-size-1">南方科技大学 <br>Southern University of Science and Technology</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="https://thfl.tsinghua.edu.cn/yjdw/yjs/bsyjs/py/index.htm" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/pengyu.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">彭宇 Yu Peng</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="http://thfl.tsinghua.edu.cn/publish/qhdxwlsys//yjdw/yjs/bsyjs/fyl/index.htm" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/fengyuanling.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">冯元凌 Yuanling Feng</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

    </div>

    <div class="row mx-n2 mb-3 justify-content-md-center">

        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">ART GALLERY Chairs</h4>
            <div class="row">
                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="https://www.ad.tsinghua.edu.cn/info/1229/20488.htm" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/shidanqing.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">师丹青 Danqing Shi</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/linlin.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">林琳 Lin Lin</h4>
                                <p class="font-size-1">厦门大学 <br>Xiamen University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="http://saad.bjtu.edu.cn/szll/mtysjyzx/188275.htm" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/yaoyuan.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">姚远 Yuan Yao</h4>
                                <p class="font-size-1">北京交通大学 <br>Beijing Jiaotong University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-6 col-lg-3 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/chenqi.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">陈琦 Qi Chen</h4>
                                <p class="font-size-1">武汉纺织大学 <br>Wuhan Textile University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-n2 justify-content-md-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Competition Chairs</h4>
            <div class="row">
                <div class="col-sm-6 col-lg-6 px-2 mb-3">
                    
                    <a href="https://www.gaozhijun.me" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhijungao.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">高志军 Zhijun Gao</h4>
                                <p class="font-size-1">北京大学 <br>Peking University </p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-6 col-lg-6 px-2 mb-3">
                    
                    <a href="https://scholar.google.com.hk/citations?hl=zh-CN&user=G5rC9wIAAAAJ" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/liuguanhong.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">刘冠宏 Guanhong Liu</h4>
                                <p class="font-size-1">同济大学 <br>Tongji University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
         
        

    <div class="row justify-content-md-center">
        
         
        <div class="col-sm-12 col-lg-12 px-2 mt-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Volunteer Chairs</h4>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-4 px-2 mb-3">
                    
                    <a href="https://xintong.ca/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/liuwei.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">刘伟 Wei Liu</h4>
                                <p class="font-size-1">北京师范大学 <br>Beijing Normal University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-12 col-lg-4 px-2 mb-3">
                    
                    <a href="http://psych.bnu.edu.cn/tabid/51/ArticleID/2029/frtid/50/Default.aspx" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/xintong.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">佟馨 Xin Tong</h4>
                                <p class="font-size-1">昆山杜克大学 <br>Duke Kunshan University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-12 col-lg-4 px-2 mb-3">
                    
                    <a href="https://thfl.tsinghua.edu.cn/yjdw/yjs/bsyjs/zww/index.htm" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhangweiwei.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">张为威 Weiwei Zhang</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>

<!--
    <div class="row mx-n2 justify-content-md-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">SECRETARIES IN GENERAL</h4>
            <div class="row">
                <div class="col-sm-6 col-lg-6 px-2 mb-3">
                    
                    <a href="https://yssjxy.gdut.edu.cn/info/1019/3805.htm" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="./static/images/committee/100x100/zhoupin.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">周萍 Ping Zhou</h4>
                                <p class="font-size-1">广东工业大学 <br>Guangdong University of Technology</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-6 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="./static/images/committee/100x100/chenchen.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">陈晨 Chen Chen
                                </h4>
                                <p class="font-size-1">广东工业大学 <br>Guangdong University of Technology</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
        -->
    </div>

<!--
    <div class="row mx-n2 justify-content-md-center">

        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Social Media Editors</h4>
            <div class="row">
                <div class="col-sm-6 col-lg-4 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="./static/images/committee/100x100/qianli.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">李倩 Qian Li</h4>
                                <p class="font-size-1">北京师范大学 <br>Beijing Normal University</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-4 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="./static/images/committee/100x100/yuxin.jpeg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">徐雨欣 Yuxin Xu</h4>
                                <p class="font-size-1">多伦多大学 <br>University of Toronto</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-6 col-lg-4 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="./static/images/committee/100x100/Keqi Chen.jpeg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">陈柯岐 Keqi Chen</h4>
                                <p class="font-size-1">爱丁堡大学 <br>The University of Edinburgh</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div> -->

    
</div>
</div>
<!-- End Team Section -->