---
layout: 23/default
---

<!-- Info -->
<div class="container">
    <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-8">
        <h2>International Workshop on Human-Engaged Computing 2023</h2>
        <h4 class="text-body h6 text-cap">Nov 13/11月13日 13:00 - 17:30 (EST Bali/Beijing Time), MALAJAH (<a href="https://live.bilibili.com/22888922?broadcast_type=0&is_room_feed=1&spm_id_from=333.999.to_liveroom.0.click&live_from=86002">LIVE</a>)</h4>
        <!-- <p>The conference will be live-streamed via Bilibili. The public can access it for free and ask questions via the platforms. 
          Program language information - panels are in Chinese, other sessions are in English.</p> -->
      </div>
  <div class="text-justify" id="intro">
    {{ content }}
  </div>
  <span class="divider h2 divider-text text-dark space-1" id="speakers">Program</span>
  <div class="container">
    <!-- Timeline -->
    <ul class="step">
      <!-- Timeline Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
          <div class="step-content">
            <h5 class="h5 text-warning mb-0">13:00 - 13:10 (10 min)</h5>
            <span class="timeline-heading text-warning">Opening Speech<br></span>
            <!-- <span class="timeline-heading">
              Masahiko Isobe, President of Kochi University of Technology - Opening remarks, <br>
              Xiangshi Ren, Kochi University of Technology - Introduction to Human-Engaged Computing,
              <br>Xiaojuan Ma, Hong Kong University of Science and Technology - Program overview.</span> -->
          </div>
        </div>
      </li>
      <!-- End Timeline Item -->

      <!-- Timeline Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
          <div class="step-content">
            <h4 class="h5 text-warning mb-0">13:10 - 14:50 (100 min)</h4>
            <span class="timeline-heading text-warning">圆桌论坛 / Panel Discussion 1：人机交互跨学科融合与产学研协同发展模式探讨</span>
            <p class="mt-2 mb-2 font-size-1">主持人：佘莹莹 - 厦门大学电影学院副教授，数字媒体技术系副主任</p>
            <ul>
              <li class="mb-2 font-size-1">付志勇 - 清华大学美术学院副教授，世界华人华侨人机交互协会会长</li>
              <li class="mb-2 font-size-1">胡军 - 埃因霍芬理工大学副教授</li>
              <li class="mb-2 font-size-1">涂华伟 - 拉筹伯大学高级讲师</li>
              <li class="mb-2 font-size-1">王韫 - 北京航空航天大学副教授</li>
              <li class="mb-2 font-size-1">刘方 - 厦门大学博士生</li>
              <!-- <li class="mb-2 font-size-1">毕涛 - 伦敦学院大学助理研究员</li> -->
              </ul>
          </div>
        </div>
      </li>
      <!-- End Timeline Item -->

      <!-- Timeline Item -->
      <li class="step-item">
        <div class="step-content-wrapper">
          <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
          <div class="step-content">
            <h4 class="h5 text-warning mb-0">14:50 - 15:10 (20 min)</h4>
            <span class="timeline-heading text-warning">Free Q&A</span>
          </div>
        </div>
      </li>
      <!-- End Timeline Item -->

    <!-- Timeline Item -->
    <li class="step-item">
        <div class="step-content-wrapper">
            <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
            <div class="step-content">
            <h4 class="h5 text-warning mb-0">15:10 - 15:25 (15 min)</h4>
            <span class="timeline-heading text-warning">Break</span>
            </div>
        </div>
        </li>
        <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
              <div class="step-content">
                <h4 class="h5 text-warning mb-0">15:25 - 17:05 (100 min)</h4>
                <span class="timeline-heading text-warning">圆桌论坛 / Panel Discussion 2：人机交互的哲学基础与未来展望</span>
                <p class="mt-2 mb-2 font-size-1">主持人：王晨 - 日本高知工科大学博士候选人，世界华人华侨人机交互协会青年委员会主席</p>
                <ul>
                    <!-- <li class="mb-2 font-size-1">Guests - To be announced</li> -->
                    <li class="mb-2 font-size-1">任向实 - 日本高知工科大学教授，世界华人华侨人机交互协会创会会长</li>
                    <!-- <li class="mb-2 font-size-1">王大阔 - 美国东北大学副教授</li> -->
                    <!-- <li class="mb-2 font-size-1">程子学 - 日本会津大学教授</li> -->
                    <li class="mb-2 font-size-1">赵盛东 - 新加坡国立大学副教授</li>
                    <li class="mb-2 font-size-1">麻晓娟 - 香港科技大学副教授</li>
                    <li class="mb-2 font-size-1">米海鹏 - 清华大学美术学院副教授</li>
                    <li class="mb-2 font-size-1">安鹏铖 - 南方科技大学助理教授</li>
                  
                    
                  </ul>
              </div>
            </div>
          </li>
          <!-- End Timeline Item -->

          <!-- Timeline Item -->
          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
              <div class="step-content">
                <h4 class="h5 text-warning mb-0">17:05 - 17:25 (20 min)</h4>
                <span class="timeline-heading text-warning">Free Q&A</span>
              </div>
            </div>
          </li>
          <!-- End Timeline Item -->
    
        <!-- Timeline Item -->
        <li class="step-item">
            <div class="step-content-wrapper">
                <span class="step-icon step-icon-sm step-icon-soft-primary"><i class="far fa-calendar-alt"></i></span>
                <div class="step-content">
                <h4 class="h5 text-warning mb-0">17:25 - 17:30 (5 min)</h4>
                <span class="timeline-heading text-warning">Closing Speech</span>
                </div>
            </div>
            </li>
            <!-- End Timeline Item -->
  </div>
  <br>
  <br>
  <hr class="text-center space-1" id="workshop">
  <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-10">
    <h2>交互设计工作坊日程（11月13日）</h2>
    <h4>通过注册向Workshop付费。</h4>
    <p>集中于人机交互、工业设计、用户体验和用户界面设计领域的任何相关领域，尤其是与今年会议主题有关的具有挑战性的新兴领域，涉及基础研究、应用研究、HCI实践、HCI教育、新方法、新兴应用领域或设计创新。</p>
  </div>
  <div class="container mt-4 mb-9">

    <table class="table table-striped">
      <thead class="text-center">
        <tr class="bg-light">
          <th scope="col" style="vertical-align: middle !important; width:30%;">主题</th>
          <th scope="col" style="vertical-align: middle !important; width:30%;">组织人</th>
          <th scope="col" style="vertical-align: middle !important; width:20%;">时间</th>
          <th scope="col" style="vertical-align: middle !important; width:20%;">简介</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr style="background-color:white" class="align-self-center mx-auto">
          <td style="vertical-align: middle !important">Discussion on new technology of human-computer interaction of space robot
          </td>
          <td style="vertical-align: middle !important">Zhu Chao 朱超<br>Beijing Institute of Spacecraft System Engineering
        </td>
          <td style="vertical-align: middle !important">11.13下午</td>
          <td style="vertical-align: middle !important"> - </td>
          <td style="vertical-align: middle !important">线上 Online</td>
          <td style="vertical-align: middle !important">Space robot is a special robot applied to the space beyond the earth's atmosphere, which will work in the unmanned, remote, harsh and unknown space environment. In the future, the organic combination of human and human space robots, complementary advantages, more flexible adaptability, will use efficient, natural, intelligent, new human-computer interaction technology, into the brain control, eye control, gesture, motion sensing, voice, teleoperation and other new interaction methods, has become the focus of manned space flight , manned moon landing project. This workshop gathered top experts at home and abroad to discuss the development and app lication of new technologies for human machine interaction of future space robots.</td>
        </tr> -->
        <tr>
          <td style="vertical-align: middle !important">New context versus old semantic
            <br>
            新生语境与古老语法的相遇
            </td>
          <td style="vertical-align: middle !important">Haipeng Mi 米海鹏 <br>Tsinghua University
          <br>
          <br>
          Yingying She 佘莹莹<br>Xiamen University
      </td>
          <td style="vertical-align: middle !important">08:00-12:00
          <br>MALAJAH (<a href="https://live.bilibili.com/22888922?broadcast_type=0&is_room_feed=1&spm_id_from=333.999.to_liveroom.0.click&live_from=86002">LIVE</a>)
        </td>
          <td style="vertical-align: middle !important">
            <a class="media-viewer" href="{{ site.baseurl }}/assets/img/workshop/w1.png" data-fslightbox="gallery">
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/workshop/w1.png" alt="Image Description">
        
              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
            </td>
        </tr>

        <tr>
          <td style="vertical-align: middle !important">Enhancing Accessible Design Tools: Value Integration in the Design Process
            <br>
            升级无障碍设计工具：设计流程中的价值体现
            </td>
          <td style="vertical-align: middle !important">Wang Yun 王韫<br>Beijing University of Aeronautics and Astronautics
          <br>
          <br>
          Zhang Weiwei 张为威<br>Tsinghua University
      </td>
      <td style="vertical-align: middle !important">08:00-12:00
        <br>DIGI LAB
      </td>
          <td style="vertical-align: middle !important">
            <a class="media-viewer" href="{{ site.baseurl }}/assets/img/workshop/w3.jpeg" data-fslightbox="gallery">
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/workshop/w3.jpeg" alt="Image Description">
        
              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
            </td>
        </tr>

        <tr>
          <td style="vertical-align: middle !important">Co-creating human-chatbot interaction by considering the healthcare chatbot’s social characteristics and communication modalities
            </td>
            <td style="vertical-align: middle !important">LI, Qingchuan <br>Harbin Institute of Technology, Shenzhen
              <br>
              <br>
              SONG, Yao<br>Sichuan University
              <br>
              <br>
              CHEN, Xin <br>Shenzhen University
              <br>
              <br>
              ZHANG, Jiaxin <br>Southern University of Science and Technology
          </td>
          <td style="vertical-align: middle !important">13:30 - 17:30
            <br>DIGI LAB</td>
          <td style="vertical-align: middle !important">
            <a class="media-viewer" href="{{ site.baseurl }}/assets/img/workshop/w2.jpeg" data-fslightbox="gallery">
              <img class="img-fluid" src="{{ site.baseurl }}/assets/img/workshop//w2.jpeg" alt="Image Description">
        
              <span class="media-viewer-container">
                <span class="media-viewer-icon">
                  <i class="fas fa-plus media-viewer-icon-inner"></i>
                </span>
              </span>
            </a>
          </td>
        </tr>

        
      </tbody>
    </table>
    <br>

<br>
</div>



</div>
<!-- End Info -->

