---
layout: 23/default
---

<!-- Info -->
<div class="container">
  <!-- <h3 class="mb-4 text-center" id="intro">简介</h3> -->   
  <div class="text-justify" id="intro">
    <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-8">
      <!-- <h4 class="text-body h6 text-cap">巴厘岛当地时间/北京时间</h4> -->
      <h2>Program of Chinese CHI 2023</h2>
      
      <h4 class="text-body h6 text-cap">Bali / Beijing Time</h4>
      <!-- <p>The conference will be live-streamed via Bilibili. The public can access it for free and ask questions via the platforms. 
        Program language information - panels are in Chinese, other sessions are in English.</p> -->
    </div>
    <div class="container space-1 mt-n4">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">

            <table class="table table-align-middle table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col" class="text-left">日期 Date</th> -->
                  <!-- <th scope="col" class="text-left">时间 Time</th> -->
                  <th scope="col" class="text-left">Schedule</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left">
                    <h4 style="color:orange;">NOV 13 - Workshop Day, <a href="/iwhec2023/" target="_blank">see details of workshops ></a></h4>
                    <h5>Workshop 1: New context versus old semantic: HCI bridging innovative paths and Chinese traditional culture with contextual design and creative expression</h5>
                      <h6>08:00 - 12:00, MALAJAH (<a href="https://live.bilibili.com/22888922?broadcast_type=0&is_room_feed=1&spm_id_from=333.999.to_liveroom.0.click&live_from=86002">LIVE</a>)</h6>
                      <p class="mb-2 font-size-1">Organizers: Haipeng Mi and Yingying She</p>
<br>
                      <h5>Workshop 2: Enhancing Accessible Design Tools: Value Integration in the Design Process</h5>
                      <h6>08:00 - 12:00, DIGI LAB</h6>
                      <p class="mb-2 font-size-1">Organizers: Wang Yun and Zhang Weiwei</p>
                  </td>
                </tr>

                <tr>
                <td class="text-left">
                    <h5>LUNCH BREAK</h5>
                    <h6>12:00 - 14:00, RAINBOW KERTHI CORRIDOR</h6>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>International Workshop on Human-Engaged Computing 2023, <a href="/iwhec2023/" target="_blank">see details of IWHEC ></a></h5>

                      <h6>13:00 - 17:30, MALAJAH (<a href="https://live.bilibili.com/22888922?broadcast_type=0&is_room_feed=1&spm_id_from=333.999.to_liveroom.0.click&live_from=86002">LIVE</a>)</h6>
                      <p class="mb-2 font-size-1">Organizers: Yingying She and Chen Wang</p>
                      <ul>
                          
                            <li>Panel Discussion 1：人机交互跨学科融合与产学研协同发展模式探讨
                              <!-- <ul>
                                <li class="mb-2 font-size-1">付志勇 - 清华大学美术学院副教授，世界华人华侨人机交互协会会长</li>
                                <li class="mb-2 font-size-1">胡军 - 埃因霍芬理工大学副教授</li>
                                <li class="mb-2 font-size-1">米海鹏 - 清华大学美术学院副教授</li>
                                <li class="mb-2 font-size-1">钟垦 - Adobe中国区资深解决方案顾问</li>
                                <li class="mb-2 font-size-1">刘方 - 厦门大学电影学院新媒体动漫研究中心、助理研究员</li>
                                <li class="mb-2 font-size-1">毕涛 - 伦敦学院大学助理研究员</li>
                              </ul> -->
                            </li>
                            
                            
                            <li>Panel Discussion 2：人机交互的哲学基础与未来展望
                              <!-- <ul>
                                <li class="mb-2 font-size-1">任向实 - 日本高知工科大学教授，世界华人华侨人机交互协会创会会长</li>
                                <li class="mb-2 font-size-1">王大阔 - 美国东北大学副教授</li>
                                <li class="mb-2 font-size-1">程子学 - 日本会津大学教授</li>
                                <li class="mb-2 font-size-1">赵盛东 - 新加坡国立大学副教授</li>
                                <li class="mb-2 font-size-1">麻晓娟 - 香港科技大学副教授</li>
                                <li class="mb-2 font-size-1">安鹏程 - 南方科技大学助理教授</li>
                              </ul> -->
                            </li>
                        
                      </ul> 
                      <br>
                      <h5>Workshop 3: Co-creating human-chatbot interaction by considering the healthcare chatbot’s social characteristics and communication modalities
                      </h5>
                      <h6>13:30 - 17:30, DIGI LAB</h6>
                      <p class="mb-2 font-size-1">Organizers: Qingchuan Li, Yao Song, Xin Chen and Jiaxin Zhang</p>
                    
                  </td>
                </tr> 
                
                <tr>
                  <td class="text-left">
                      <h5>RECEPTION</h5>
                      <h6>17:30 - 20:00, FIRST FLOOR SHARED SPACES</h6>
                    </td>
                  </tr>

                <tr>
                  <td class="text-left">
                    <h4 style="color:orange;">NOV 14</h4>
                    <h5>OPENING CEREMONY & KEYNOTE (<a href="{{ site.baseurl }}/assets/files/chchi23_opening&paper&chchi24.pdf" target="_blank">Intro PDF</a>)</h5>
                      <h6>09:00 - 10:15, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1"><a href="https://www.shengdongzhao.com/" target="_blank">Shengdong Zhao</a> - National University of Singapore</p>
                    <p class="font-size-1"><a href="/" target="_blank">Fostering Reflective Inquiry: A Dialogue on Value-Driven Research in HCIFostering Reflective Inquiry: A Dialogue on Value-Driven Research in HCI</a></p>
                    <p class="font-size-1">Abstract: "Fostering Reflective Inquiry: A Dialogue on Value-Driven Research in HCI" invites Chinese researchers, both in China and abroad, to engage in a critical dialogue about the direction and depth of HCI research. This keynote is not about providing set answers but rather about initiating a collective exploration into what constitutes truly impactful research in the diverse and global landscape of HCI. The talk aims to bridge cultural and academic perspectives, highlighting how Chinese researchers can leverage their unique insights and experiences to contribute to the field. The speaker, a fellow researcher engaged in this global dialogue, will share personal reflections and encourage an open discussion on how to cultivate research that is deeply innovative, socially relevant, and scientifically sound, regardless of geographical boundaries.
                      </p>
                  </td>
                </tr>
                <tr>
                  <!-- <td class="text-left">12:00 - 14:00</td> -->
                  <td class="text-left">
                    <h5>COFFEE BREAK</h5>
                    <h6>10:15 - 10:45, AUDITORIUM CORRIDOR</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <h5>PAPER SECTION 1: HCI IN CHINA: COMMUNITY & CULTURE</h5>
                    <h6>10:45 - 12:15, 12 MINS PRESENTATION + 3 MINS Q&A, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1">Chair: Yingying She</p>
                  <ol>
                    <li class="mt-2 mb-2 font-size-1">
                      The Cultural Factor Extraction and Visualization Design of Traditional Chinese Festival Culture
                      <br>
                      <i>Zhaohui Wu, Fei Lyu and Zhaolin Zhang</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      A Digital Chinese Brush System Design based on Embodied Interaction Theory
                    <br>
                    <i>Yi Ji, Junxian Lin and Yihui Cai</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Robotic Xiàngshēng Theater: Designing Audio-Animatroinics with Cartoon-Style Facial Expression for Chinese Intangible Cultural Heritage Exhibition
                    <br>
                    <i>Hanxuan Li, Yu Peng, Zhihao Yao, Qirui Sun, Yao Lu and Haipeng Mi</i>
                    </li>
                    <li class="mt-2 mb-2 font-size-1">
                      An Empirical Study on Knowledge Payment Behavior and Knowledge Anxiety among Chinese University Students
                      <br>
                      <i>Jiawei Tang, Yu Zhang, Shaoshuai Huang, Yaqi Zheng, Yuhong Wei, Ting Bai, Shijie Ming and Zhaolin Lu</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Taotie: Designing a Museum Robot utilizing Cultural Metaphors
                      <br>
                      <i>Zhihao Yao, Yao Lu, Yijie Guo, Qirui Sun, Mingyue Gao and Haipeng Mi</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Exploring the Design of Digital Twin Virtual Space for The Awaken Lion Culture Based on Technology Acceptance Modeling                    
                      <br>
                    <i>Xiaoying Tang, Qiao Zhong and Xiuhui Zheng</i>
                    </li>
                  </ol>
                  </td>

                </tr>
                <tr>
                  <td class="text-left">
                    <h5>LUNCH BREAK</h5>
                    <h6>12:15 - 14:00, AUDITORIUM CORRIDOR</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <h5>PAPER SECTION 2: INTERACTIVE TECHNIQUE</h5>
                    <h6>14:00 - 15:15, 12 MINS PRESENTATION + 3 MINS Q&A, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1">Chair: Yu Peng</p>
                  <ol>
                    <!-- <li class="mt-2 mb-2 font-size-1">
                      HandLeap: Towards Contact-Free Gesture Interaction With Earphones via Acoustic Sensing
                      <br>
                      <i>Yincheng Jin, Yang Gao, Seokmin Choi and Zhanpeng Jin</i>
                    </li> -->
                    <li class="mb-2 font-size-1">
                      Fuzzy Causal Inference Model for Human-Vehicle Cooperative Decision-Making Modeling
                    <br>
                    <i>Chen Chai, Jixiang Wang and Weiru Yin</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Seeing And Communicating With Your Mind: A Novel EEG Signal Based Interactive Visual Meditation System
                    <br>
                    <i>Xingyu Lai, Enbo Yu, Kai Chen and Xianchang Kang</i>
                    </li>
                    <li class="mt-2 mb-2 font-size-1">
                      A Visual Protocol Analysis Method for Collecting Driving Cognitions in Driving Simulator Studies
                      <br>
                      <i>Ying Liang and Chen Chai</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Reimagining Public Utilities through AI-Driven User-Centric Multimodal Interaction: A Case Study on the Lighthouse System
                      <br>
                      <i>Yueze Zhang, Zheng Zeng, Tianrui Wang, Zekai Chen and Ping Chen</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Embroiderer: Do-It-Yourself Embroidery Aided with Digital Tools                    
                      <br>
                    <i>Zijian Luo, Zixiang Hong, Xiaoyu Ge, Junling Zhuang, Xin Tang, Zhehan Du, Yue Tao, Yuyang Zhang, Chuyi Zhou, Cheng Yang and Ye Tao</i>
                    </li>
                  </ol>
                  </td>

                </tr>
                <tr>
                  <td class="text-left">
                    <h5>COFFEE BREAK & LBW</h5>
                    <h6>15:15 - 16:00, CLOUD LOUNGE</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <h5>PAPER SECTION 3: ACCESSIBILITY AND AGING</h5>
                    <h6>16:00 - 17:15, 12 MINS PRESENTATION + 3 MINS Q&A, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1">Chair: Yun Wang</p>
                  <ol>
                    <li class="mt-2 mb-2 font-size-1">
                      Exploring Older People's Preferences in the Design Features of Virtual Agents: A Comprehensive Analysis
                      <br>
                      <i>Tongtong Jin, Yun Wang and Weiwei Zhang</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      A Review of Prototyping and Evaluating Approaches for Social Exergames Targeting Older Adults
                    <br>
                    <i>Rui Yuan, Sunxiya Zhang, Xiongjie Yang, Shi Qiu, Ting Han and Jun Hu</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      RedCapes: Design and Evaluation of a Game Towards Improving Autistic Children's Privacy Awareness
                    <br>
                    <i>Xiaowen Yuan, Hongni Ye, Ziheng Tang, Xiangrong Zhu, Yaxing Yao and Xin Tong</i>
                    </li>
                    <li class="mt-2 mb-2 font-size-1">
                      "Not To Show Off But To Express Love for Life": Management and Presentation of Older Square Dancing Groups via WeChat and Video Communities in China
                      <br>
                      <i>Yuting Diao, Zhicong Lu, Qi Lu, Guanhong Liu, Jiaxing Wang, Yuanling Feng and Jihong Jeung</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Research on the strategy of travel service system for visually impaired people based on service design thinking
                      <br>
                      <i>Xinwei Wang and Jiali Dong</i>
                    </li>
                  </ol>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <h5>ART GALLERY EXHIBITION</h5>
                    <h6>17:15 - 18:15, CLOUD LOUNGE & FIRST FLOOR SHARED SPACES</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <h5>BANQUET</h5>
                    <h6>18:30  - 20:30, TBD</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                    <h4 style="color:orange;">NOV 15</h4>
                    <h5>PAPER SECTION 4: GENERATIVE AI AND INTELLIGENT AGENT</h5>
                    <h6>09:00 - 10:30, 12 MINS PRESENTATION + 3 MINS Q&A, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1">Chair: Qianyao Xu</p>
                  <ol>
                    <li class="mt-2 mb-2 font-size-1">
                      Exploring Designers’ Perceptions and Practices of Collaborating with Generative AI as a Co-creative Agent in a Multi-stakeholder Design Process: Take the Domain of Avatar Design as an Example
                      <br>
                      <i>Qingyang He, Weicheng Zheng, Hanxi Bao, Ruiqi Chen and Xin Tong</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      From Lab to Virtual: Comparing Real and AI-Generated User Interviews in Home Appliance Evaluation
                    <br>
                    <i>Minghui Liu, Cheng Xue and Yuxiang Zhai</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Understanding Students’ Perspectives, Practices, and Challenges of Designing with AI in Special Schools
                    <br>
                    <i>Xi Liu, Newman Lau, Alex Chuin, Wun Kam Reginia Leung, Ada How Sim Ho, Mohana Das, Mengru Liu and Cheuk Lam Kwok</i>
                    </li>
                    <li class="mt-2 mb-2 font-size-1">
                      Extrovert Increases Consensus? Exploring the Effects of Conversational Agent Personality for Group Decision Support
                      <br>
                      <i>Liuping Wang, Hongxin Li, Tong Wu, Fan Yang, Yang Yang, Jin Huang and Feng Tian</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Emotional Conveyance Analysis of Artificial Intelligence Painting
                      <br>
                      <i>Lin Ma, Dengkai Chen, Yuan Feng, Xinggang Hou and Jing Chen</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Designing Future In-Vehicle Assistants: Insights from User Imaginations and Experiences
                      <br>
                      <i>Yijie Guo, Hanyang Hu, Zhuoran Zhai, Yao Lu, Xuezhu Wang, Yuan-Ling Feng, Zhihao Yao, Zhenhan Huang, Yuan Yao and Haipeng Mi</i>
                    </li>
                  </ol>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>COFFEE BREAK & LBW</h5>
                    <h6>10:30 - 11:00, CLOUD LOUNGE</h6>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>PAPER SECTION 5: DESIGN: THEORY, CONCEPTS, METHODS</h5>
                    <h6>11:00 - 12:15, 12 MINS PRESENTATION + 3 MINS Q&A, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1">Chair: Weiwei Zhang</p>
                  <ol>
                    <li class="mt-2 mb-2 font-size-1">
                      Reconnecting An International Travel Network: The Personal Infrastructuring Work of International Travelers in A Multi-facet Crisis
                      <br>
                      <i>Yao Lyu, He Zhang and John Carroll</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Meaning-Driven Speculative Artifacts Meme-Generated Design Framework
                    <br>
                    <i>Jiawei Li, Zhiyong Fu, Jiayue Wang and Fengying Qian</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      User Experience Analysis of Library Intelligent Book-Lending Cabinets Service Based on MOA Model： A Case Study of China
                    <br>
                    <i>Zhenhua Zheng, Bo Yan and Jialong Shi</i>
                    </li>
                    <li class="mt-2 mb-2 font-size-1">
                      “I Keep Sweet Cats In Real Life, But What I Need In The Virtual World Is A Neurotic Dragon": Virtual Pet Designs With Personality Patterns
                      <br>
                      <i>Hongni Ye, Ruoxin You, Kaiyuan Lou, Yili Wen, Xin Yi and Xin Tong</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Understanding Emotional Disclosure via Diary-keeping in Quarantine on Social Media
                      <br>
                      <i>Yue Deng, Changyang He and Bo Li</i>
                    </li>
                  </ol>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>LUNCH BREAK</h5>
                    <h6>12:15 - 14:00, AUDITORIUM CORRIDOR</h6>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>PAPER SECTION 6: VIRTUAL REALITY AND AUGMENTED REALITY</h5>
                    <h6>14:00 - 15:30, 12 MINS PRESENTATION + 3 MINS Q&A, AUDITORIUM</h6>
                    <p class="mb-2 font-size-1">Chair: Zhihao Yao</p>
                  <ol>
                    <li class="mt-2 mb-2 font-size-1">
                      The Veil of Virtuality: Anonymity and Trust in the Metaverse's New Frontier
                      <br>
                      <i>Cheng Xu, Yanqi Sun and Rui Zhong</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      VR PreM+: An Immersive Pre-learning Branching Visualization System for Museum Tours
                    <br>
                    <i>Ze Gao, Xiang Li, Changkun Liu, Xian Wang, Anqi Wang, Liang Yang, Yuyang Wang, Pan Hui and Tristan Braud</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Meta-Home: Smart Home Digital Twin Design from the Perspective of Smart metaverse
                    <br>
                    <i>Cheng Xue, Yingting Gao, Ananda Robin, Jiachen Du, Qianyao Xu and Xinyi Fu</i>
                    </li>
                    <li class="mt-2 mb-2 font-size-1">
                      TAPE: Tangible Augmented Previz Environment for Filmmaking
                      <br>
                      <i>Guangzheng Fei and Dake Liu</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      OperARtistry: AR-based Application for Chinese Traditional Opera (Xiqu) Makeup Tutorials
                      <br>
                      <i>Zeyu Xiong, Shihan Fu and Mingming Fan</i>
                    </li>
                    <li class="mb-2 font-size-1">
                      Avatar Type, Self-Congruence, and Presence in Virtual Reality
                      <br>
                      <i>Tianqi Huang, Yue Li and Hai-Ning Liang</i>
                    </li>
                  </ol>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>COFFEE BREAK</h5>
                    <h6>15:30 - 16:00, AUDITORIUM CORRIDOR</h6>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h5>KEYNOTE & CLOSING CEREMONY</h5>
                      <h6>16:00 - 17:15, AUDITORIUM (<a href="#">LIVE</a>)</h6>
                    <p class="mb-2 font-size-1"><a href="https://www.tue.nl/en/research/researchers/regina-bernhaupt" target="_blank">Regina Bernhaupt</a> - Eindhoven University of Technology</p>
                    <p class="font-size-1"><a href="/" target="_blank">Digital Twins for HCI Research</a></p>
                    <p class="font-size-1">Digital twins have become a buzz-word referring to the ability to have digital counterpart of physical parts of our worlds. While starting with digital models of physical objects like machines, today digital twins are real-time connected counterparts of the physical world. And beyond being real time, we see not only digital twins of objects, but digital twins of human hearts, of systems – and systems of systems.
                      <br><br>
                      Digital twins will be a key technology when it comes to monitoring and optimizing future services, when it comes to understanding possible alternative scenarios and especially when predicting future events, like when to repair a machine, but also maybe when to repair a heart?
                      <br><br>
                      This inspirational keynote will guide you through some examples of digital twins applications that touch everyone of us in our everyday life, our healthcare, the city we are living in. But it will also show how HCI and HCI research methods have to be adapted and re-invented to address the challenges digital twins as a technology bring to our HCI research community.
                      </p>
                  </td>
                </tr>

                <tr>
                  <td class="text-left">
                    <h4 style="color:orange;">NOV 16</h4>
                    <h5>ONE-DAY TOUR (OPTIONAL)</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

</div></div>
  </div>

</div>
</div>
<!-- End Info -->

