    <!-- Hero Section -->
    <div class="position-relative bg-primary overflow-hidden">
        <div
          class="container position-relative z-index-2 space-top-3 space-top-md-3 space-bottom-2 space-bottom-md-2 text-center">
          <div class="w-md-80 w-xl-80 text-center mx-md-auto">
            <div class="mb-7">
              <h1 class="display-2 mb-4 custom-font">{{ site.title25 | escape }}</h1>
              <div class="text-center mb-2">
                <img class="img-fluid" style="max-width: 200px;" src="{{ site.baseurl }}/assets/img/background/2025logo.png" alt="2025 Logo">
              </div>
              <!-- <hr style="border-color:black"> -->
              <h1 class="display-5 custom-font mt-3">{{ site.keywordsZH25 | escape }}</h1>
              <h1 class="display-5  mb-4 custom-font">{{ site.keywordsEN25 | escape }}</h1>
              <hr style="border-color:black">
              <h2 class="mb-2">{{ site.dateZH25 | escape }}, {{ site.venueZH25 | escape }}</h2>
              <h2 class="mb-2">{{ site.dateEN25 | escape }}, {{ site.venueEN25 | escape }}</h2>
             
              <br>
              <br>
              <br>
              <br>

            </div>
  
          </div>
        </div>
        
        
        <!-- <img class="position-absolute top-0 start-50 translate-middle hero-size" src="{{ site.baseurl }}/assets/img/background/2025-2.jpg" alt=""> -->
        <img class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" src="{{ site.baseurl }}/assets/img/background/2025-2.jpg" alt="">
        <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
          <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
            <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
          </svg>
        </figure>
        <!-- End SVG Shapes -->
      </div>
      <!-- End Hero Section -->
      <div class="mb-4"></div>