<!-- Hero Section -->
<div class="position-relative overflow-hidden text-center text-white"
     style="background: url('{{ site.baseurl }}/assets/img/background/2025-2.jpg') center/cover no-repeat; padding: 3rem 1rem;">

  <div class="container position-relative z-index-2">
    <div class="d-flex justify-content-center align-items-center flex-wrap mt-5 mb-2">
      <!-- Logo Left -->
      <div class="me-3">
        <img class="img-fluid" style="max-width: 120px;" src="{{ site.baseurl }}/assets/img/background/2025logo.png" alt="2025 Logo">
      </div>
      <!-- Title Right -->
      <div class="text-white text-start">
        <h1 class="h1 mb-2 custom-font">{{ site.title25 | escape }}</h1>
      </div>
    </div>

    <!-- 时间地点 -->
    <h2 class="h4 mb-1">{{ site.dateZH25 | escape }}, {{ site.venueZH25 | escape }}</h2>
    <h2 class="h4">{{ site.dateEN25 | escape }}, {{ site.venueEN25 | escape }}</h2>
    <br>
    <br>
  </div>

  <!-- SVG 弧形 -->
  <figure class="position-absolute right-0 bottom-0 left-0 mb-n1">
    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 100.1">
      <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z" />
    </svg>
  </figure>
</div>

<div class="mb-2"></div>
