---
layout: 25/default
---

<div class="w-md-80 w-lg-50 text-center mx-md-auto">
    <h2>Committee Members</h2>
</div>

<div class="container space-1 ">


    <div class="row mx-n2 mb-5 justify-content-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">General Co-Chair</h4>
                    </div>
                    <a href="https://citydesign2020.com/zhiyong-fu/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/FuZhiyong.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Zhiyong Fu 付志勇</h4>
                                <p class="font-size-1">清华大学<br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">General Co-Chair</h4>
                    </div>
                    <a href="https://sites.google.com/view/archan-misra" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Archan Misra.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Archan Misra</h4>
                                <p class="font-size-1">新加坡管理大学 <br>Singapore Management University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Conference Co-Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <!-- <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">Conference Co-Chair</h4>
                    </div> -->
                    <a href="https://hcitang.github.io/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Tony Tang.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Tony Tang 鄧海天</h4>
                                <p class="font-size-1">新加坡管理大学<br>Singapore Management University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <!-- <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">Conference Co-Chair</h4>
                    </div> -->
                    <a href="https://www.yclee.net/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Yi-Chieh (EJ) Lee.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Yi-Chieh (EJ) Lee 李苡杰</h4>
                                <p class="font-size-1">新加坡国立大学 <br>National University of Singapore</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Technical Program Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://jchrisli.github.io/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Jiannan Li.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Jiannan Li 李健楠</h4>
                                <p class="font-size-1">新加坡管理大学<br>Singapore Management University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://www.robertxiao.ca/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Robert Xiao.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Robert Xiao 肖博</h4>
                                <p class="font-size-1">不列颠哥伦比亚大学 <br>University of British Columbia</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Paper Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-3 px-2 mb-3">
            <a href="https://shi.buaa.edu.cn/wangyun/en/index/183800/list/index.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Wang Yun.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Yun Wang 王韫</h4>
                        <p class="font-size-1">北京航空航天大学<br>Beihang University</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-lg-3 px-2 mb-3">

            <a href="https://yong-wang.org/" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Wang Yong.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Yong Wang 王勇</h4>
                        <p class="font-size-1">南洋理工大学 <br>Nanyang Technological University</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-lg-3 px-2 mb-3">
            <a href="https://www.armuro.info/" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img"
                                src="{{ site.baseurl }}/assets/img/committee/100x100/Stanley Chang.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Stanley Chang 张永儒</h4>
                        <p class="font-size-1">阳明交通大学 <br>National Yang Ming Chiao Tung University</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-sm-6 col-lg-3 px-2 mb-3">

            <a href="https://sdmda.bupt.edu.cn/info/1047/1209.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Li Meng.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Meng Li 李萌</h4>
                        <p class="font-size-1">北京邮电大学<br>Beijing University of Posts and Telecommunications</p>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Art/Demo Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            <a href="https://www.milab.design/team-5/yao-yuan" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Yao Yuan.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Yuan Yao 姚远</h4>
                        <p class="font-size-1">北京交通大学 <br>Beijing Jiaotong University</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            <a href="https://www.singaporetech.edu.sg/directory/faculty/jeannie-lee" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img"
                                src="{{ site.baseurl }}/assets/img/committee/100x100/Jeannie Lee.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Jeannie Lee</h4>
                        <p class="font-size-1">新加坡理工大学 <br>Singapore Institute of Technology </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            <a href="https://clementzheng.info/" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img"
                                src="{{ site.baseurl }}/assets/img/committee/100x100/Clement Zheng.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Clement Zheng</h4>
                        <p class="font-size-1">新加坡国立大学 <br>National University of Singapore</p>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Late Breaking Work Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://thfl.tsinghua.edu.cn/en/yjdw/jzg/Central_Organization/Human_Computer_Interaction__and_User_Experience/Resercher/Xinyi_Fu.htm"
                        target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Xinyi Fu.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Xinyi Fu 付心仪</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://www.jangheecho.com/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Janghee Cho.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Janghee Cho</h4>
                                <p class="font-size-1">新加坡国立大学<br>National University of Singapore</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="row mx-n2 mb-5 justify-content-center">    
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">Workshop/Courses Chair</h4>
                    </div>
                    <a href="https://kennychoo.net/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Kenny Choo.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Kenny Choo</h4>
                                <p class="font-size-1">新加坡科技设计大学<br>Singapore University of Technology and Design</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="row mx-n2 justify-content-center">
                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">Panel Chair</h4>
                    </div>
                    <a href="https://renwenzhang.com/" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Renwen Zhang.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Renwen Zhang 张人文</h4>
                                <p class="font-size-1">新加坡国立大学 <br>National University of Singapore</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> -->


    <div class="row mx-n2 mb-5">

        <div class="col-sm-12 col-lg-8 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Panel Chairs</h4>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://renwenzhang.com/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Renwen Zhang.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Renwen Zhang</h4>
                                <p class="font-size-1">南洋理工大学<br>Nanyang Technological University<br> <br></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://me.ustb.edu.cn/shiziduiwu/jiaoshixinxi/2022-03-24/586.html" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Siqian He.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Siqian He 何思倩</h4>
                                <p class="font-size-1">北京科技大学<br>University of Science and Technology Beijing</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <div class="w-md-100 w-lg-100 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Workshop/Courses Chair</h4>
            </div>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-12 px-2 mb-3">
                    <a href="https://kennychoo.net/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Kenny Choo.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Kenny Choo</h4>
                                <p class="font-size-1">新加坡科技设计大学<br>Singapore University of Technology and Design</p>
                                <br>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="row mx-n2 mb-5">
        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">AMA Lunch Chair</h4>
            </div>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-12 px-2 mb-3">
                    <a href="https://xintong.ca/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Xin Tong.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Xin Tong 佟馨</h4>
                                <p class="font-size-1">香港科技大学<br>The Hong Kong University of Science and Technology</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-8 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Publication Chairs</h4>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://ivi.cc.gatech.edu/people.html" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Yalong Yang.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Yalong Yang</h4>
                                <p class="font-size-1">佐治亚理工学院<br>Georgia Tech<br> <br></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://sweb.cityu.edu.hk/canliu/index.html" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Can Liu.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Can Liu 刘璨</h4>
                                <p class="font-size-1">香港城市大学<br>City University of Hong Kong</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-n2 mb-5">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Sponsorship Chair</h4>
            </div>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-12 px-2 mb-3">
                    <a href="https://www.linkedin.com/in/judeyew/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Jude Yew.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Jude Yew</h4>
                                <p class="font-size-1">谷歌<br>Google</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Registration Chairs</h4>
            </div>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-12 px-2 mb-3">
                    <a href="https://kotarohara.com/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Kotaro Hara.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Kotaro Hara</h4>
                                <p class="font-size-1">新加坡管理大学<br>Singapore Management University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-n2 mb-5">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Publicity Chairs</h4>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://xiaoying-wei.github.io/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Xiaoying Wei.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Xiaoying Wei 韦笑颖</h4>
                                <p class="font-size-1">香港科技大学<br>The Hong Kong University of Science and Technology</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://hollysong.site/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Tianqi Song.png"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Tianqi Song 宋天琪</h4>
                                <p class="font-size-1">新加坡国立大学<br>National University of Singapore</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <div class="w-md-100 w-lg-100 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Student Volunteer Chair</h4>
            </div>
            <div class="row mx-n2 mb-5 justify-content-md-center">

                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://www.zicheng-zhu.com/" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Zicheng Zhu.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Zicheng Zhu 朱紫橙</h4>
                                <p class="font-size-1">新加坡国立大学<br>National University of Singapore</p>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    <a href="https://scholar.google.com/citations?user=io-FG-4AAAAJ&hl=en" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img"
                                        src="{{ site.baseurl }}/assets/img/committee/100x100/Tianyi Zhang.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Tianyi Zhang 张天宜</h4>
                                <p class="font-size-1">新加坡管理大学<br>Singapore Management University</p>

                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>

</div>