---
layout: 25/blank
---

<!-- Hero Section -->
<div class="">
    <div
        class="container position-relative z-index-2 space-top-3 space-top-md-3 text-center">
        <div class="text-center mx-md-auto">
            <div class="mb-7">

                <h2 class="text-muted custom-font">{{ site.title24 | escape }}</h2>
                <h1 class="display-4 custom-font">新质生产力推动新智发展</h1>
                <hr style="border-color:black">
                <h2 class="mb-2">
                    深圳市南山智园C1栋11层报告厅
                <br>
                2024年11月22日 08:30~17:00</h2>
                <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
                    href="https://vrbd364gmi.feishu.cn/share/base/form/shrcnJsMlNuRtbB8ssFCuwcasHc" target="_blank"> 免费注册 <i
                        class="fas fa-angle-right"></i></a>
            </div>

            <div class="mb-5">
                <p class="text-justify">ChineseCHI会议是世界华人华侨人机交互协会（ICACHI）举办的国际学术会议，旨在连接全球华人HCI学者、学术界和产业界，共同推动人机交互领域的发展。
                    <br>
                    <br>
                    ChineseCHI 2024将于11月22日至25日在深圳由南方科技大学主办。11月22日，我们将举办一场有关新质生产力推动产业发展的论坛，以“未来医疗”、“智能制造与机器人”、“自动驾驶与低空经济”、“产研转化与出海”为切入点，深入探讨如何通过科技创新、降本增效和产研转化等手段，为企业注入新的发展动能。
                    <br>
                    <br>
                    论坛邀请行业领袖、专家学者及成功企业代表，分享前沿技术、成功案例与实战经验，深入解析领域创新的机会与趋势，为企业提供启发、思路和可借鉴的方法，助力企业在激烈竞争中实现突破与成长。

                </p>

            </div>


</div>


</div>
</div>


</div>

</div>

</div>

</div>


<main id="content" role="main">
    <div class="text-center">
        <div class="divider h2 divider-text text-dark" id="program">
            <ur>
                <li class="h2" style="list-style: none;">日程</li>
                <li class="h4" style="list-style: none;">2024年11月22日, 北京时间08:30~17:00</li>
                <li class="h4" style="list-style: none;">深圳市南山智园C1栋11层报告厅</li>
                <li class="h4" style="list-style: none;">工作语言：中文，全会部分提供英语同传</li>
                <!-- <li class="h6" style="list-style: none;"><a
                        href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=IWHEC+2021&iso=20210319T09&p1=5133&ah=7">Check
                        your local time.</a></li> -->
            </ur>
        </div>
        <span id="day1_am"></span>
    </div>
    <!-- End Title -->

    <div class="container">
        <!-- Timeline -->
        <ul class="step">
            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h5 class="h5 text-warning mb-0">08:15 - 08:30 签到</h5>
                    </div>
                </div>
            </li>
            <!-- End Timeline Item -->

            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h5 class="h5 text-warning mb-0">08:30 - 08:40 开幕致辞</h5>
                        <ul>
                            <li>关道文 Tom Kvan（南方科技大学创新创意设计学院创始院长、讲席教授）</li>
                            <li>田瑞军（南方科技大学理学院化学系终身教授、南方科技大学技术转移中心主任、南方科技大学光明高等研究院副院长）</li>
                        </ul>                   
                    </div>
                </div>
            </li>
            <!-- End Timeline Item -->

            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h4 class="text-warning">未来医疗</h4>
                        <h4 class="h5 text-warning mb-0">08:40 - 09:10 未来医学-数智及稳态医学模式</h4>
                        <span class="timeline-heading">王松灵（中国科学院院士，南方科技大学医学院院长）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">09:10 - 09:30 生成式AI开启医健融合新时代</h4>
                        <span class="timeline-heading">王鹏（英特尔中国研究院副院长，数字医疗健康实验室总监）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">09:30 - 09:50 光与人因健康</h4>
                        <span class="timeline-heading">郝洛西（同济大学建筑与城市规划学院教授）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">09:50 - 09:55 大健康研究联合体启动</h4>
                    </div>
                </div>
            </li>
            <!-- End Timeline Item -->

            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h4 class="text-warning">智能制造与机器人</h4>
                        <h4 class="h5 text-warning mb-0">09:55 - 10:15 通用人工智能赋能通用机器人</h4>
                        <span class="timeline-heading">闫维新（智元机器人联合创始人，上海交通大学教授）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">10:15 - 10:35 MPS产线管控数字化</h4>
                        <span class="timeline-heading">宋孟华（北京奔驰规划培训与执行组长）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">10:35 - 10:55 智能移动机器人多行业应用</h4>
                        <span class="timeline-heading">林朗熙（同博歌集团CEO）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">10:55 - 11:00 机器人与智能制造产研合作启动</h4>
                    </div>

                </div>
            </li>
            <!-- End Timeline Item -->

            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h4 class="text-warning">自动驾驶与低空经济</h4>
                        <h4 class="h5 text-warning mb-0">11:00 - 11:20 长城汽车 COFFEE OS3 智慧空间</h4>
                        <span class="timeline-heading">张宝雍（长城汽车智能空间产品总监）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">11:20 - 11:40 智舱智驾HMI研究与评测</h4>
                        <span class="timeline-heading">孙效华（南方科技大学创新创意设计学院讲席教授，机器人研究院副院长）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">11:40 - 12:00 一种简化操作的低空飞行器短时训练方案探索</h4>
                        <span class="timeline-heading">贺登博（香港科技大学（广州）低空经济研究院项目负责人，系统枢纽智能交通学域以及机器人与自主系统学域助理教授、博士生导师）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">12:00 - 12:05 ICV HMI设计评测体系团标预发布</h4>
                        <br>
                        <h4 class="h5 text-warning mb-0">12:05 - 13:30 午餐休息</h4>
                    </div>
                
                </div>
            </li>
            <!-- End Timeline Item -->

            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h4 class="text-warning">产研转化与出海</h4>
                        <h4 class="h5 text-warning mb-0">13:30 - 13:50 大学创业孵化与技术转移【港科大相关案例及经验分享】</h4>
                        <span class="timeline-heading">高凌云（港科大深圳蓝海湾孵化器执行总监，港科大深港协同创新研究院执行总监）</span>
                        <br>
                        <br>
                        <h4 class="h5 text-warning mb-0">13:50 - 14:10 跨境财富管理&金融出海</h4>
                        <span class="timeline-heading">刘景渊（中国银河证券首席投资顾问，银河证券上海分公司机构业务中心业务总裁）</span>
                    </div>
                </div>
            </li>
            <!-- End Timeline Item -->


            <!-- Timeline Item -->
            <li class="step-item">
                <div class="step-content-wrapper">
                    <span class="step-icon step-icon-sm step-icon-soft-primary"><i
                            class="far fa-calendar-alt"></i></span>
                    <div class="step-content">
                        <h4 class="text-warning">闭门交流</h4>
                        <h4 class="h5 text-warning mb-0">14:30 - 17:00 多主题平行合作交流</h4>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End Timeline -->
    </div>

    <!-- Title -->
    <div class="text-center space-1">
        <span class="divider h2 divider-text text-dark" id="speakers">嘉宾</span>
    </div>
    <!-- End Title -->

    <!-- Wang Songling -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/wangsongling.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span class="h2 text-primary">王松灵</span></a>
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/wangsongling.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        中国科学院院士，南方科技大学医学院院长、讲席教授、中国医学科学院学部委员、全国政协委员优秀履职奖获奖者、教授、主任医师。本硕博就读于北京大学医学部，1989年获口腔医学博士学位。现任首都医科大学副校长，中华口腔医学会副会长，北京医学会副会长，口腔健康北京实验室主任。Current Medicine 主编，Oral Diseases及JOR副主编，《医学教育管理》主编、《今日口腔》主编。发表论文249篇，其中以主要作者发表英文论文167篇。第一完成人获2003及2010年国家科技进步二等奖两项；获威廉盖茨（William J. Gies）奖、吴阶平医药创新奖、中源协和生命医学奖-成就奖、何梁何利科学技术奖；英国皇家外科学院（爱丁堡）Fellowship ad hominem。
<br>
<br>
研究方向为唾液腺与牙再生。发现人细胞膜硝酸盐转运通道，该通道与硝酸盐对维持机体稳态有重要作用，提出稳态医学的概念，研发基于硝酸盐的耐瑞特新药；揭示牙发育新机制，研发牙髓干细胞新药，成功实现生物性牙齿再生。主编《唾液腺非肿瘤疾病》、《口腔颌面疾病临床X线表现及其病理学基础》等学术专著和《口腔医学》、《口腔分子生物学与口腔实验动物模型》等本科生和研究生规划教材。
<br>
<br>
获国家发明专利授权19项，美国发明专利授权4项。主持国家杰出青年科学基金、国家自然科学基金重点项目、973、863课题、北京学者及北京市科技重大专项等研究基金。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->



    <!-- Wang Peng -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/wangpeng.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span
                                                class="h2 text-primary">王鹏</span></a>
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/wangpeng.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        目前侧重在类脑感知、视觉计算、人机交互等前沿技术研究；及在智能健康、教育、制造、零售等场景落地，此前负责政府与企业合作、原型系统开发、技术转移、参考设计、示范部署等。
<br><br>
曾获得英特尔全球品牌大使、英特尔技术最高奖、英特尔中国最佳员工。国际消费电子展最佳创新奖、最佳无线应用奖、最佳技术奖。
<br><br>
发表国内外学术论文40余篇，申请国际专利20多项。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->

    <!-- haoluoxi -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/haoluoxi.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span
                                                class="h2 text-primary">郝洛西</span></a>
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/haoluoxi.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        同济大学建筑与城市规划学院长聘教授、博士生导师，工学博士。目前担任国际照明委员会CIE副主席(VPE)、中国科协国际科学理事会中国委员会委员(ISC-CHINA)、中国照明学会特邀副理事长、上海照明学会副理事长、极地医学专业委员会常务委员等。长期从事光、视觉、颜色、照明设计的教学、科研和工程实践工作。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->

    <!-- yanweixin -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/yanweixin.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span class="h2 text-primary">闫维新</span></a>
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/yanweixin.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        博士生导师，上海交通大学副研究员，上海人工智能研究院首席科学家，上海智元新创技术有限公司联合创始人，主持国家973子课题1项、国家自然科学基金2项，参与3项，主持国家重点研发计划课题1项，参与1项，主持航天军工项目十几项，参与863课题2项，省市级科技成果鉴定项目2项、上海市科技进步一等奖1项、上海市科技进步三等奖1项，发表论文70多篇，专利90多项。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->


    <!-- songmenghua -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/songmenghua.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span
                                                class="h2 text-primary">宋孟华</span></a>

                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/songmenghua.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        毕业于重庆大学，车辆工程专业硕士研究生。主要工作经历北京奔驰汽车有限公司培训部打造北京奔驰精益生产培训平台（MVPS），建立北京奔驰技术培训体系、管理培训体系、产品培训体系以及质量管理体系。                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->


    <!-- linlangxi -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/linlangxi.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span
                                                class="h2 text-primary">林朗熙</span></a>
                                        
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/linlangxi.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        东兴自动化副董事长和博歌集团的创办人。公司开发了尖端技术产品，包括人工智能抛光机，自动导航机器人，为全球几万个不同行业客户提供服务。其2012成立的L2F自动化，亦曾在2017年让Middleby以接近1亿港元收购。博歌专注于服务机器人的研发与销售，旗下拥有temi品牌服务机器人产品、楼宇巡检巡逻机器人、全景四面屏广告机器人、高端餐厅服务机器人以及通用导航底盘，满足客户的多样化场景需求。                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->

    <!-- zhangbaoyong -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/zhangbaoyong.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span class="h2 text-primary">张宝雍</span></a>
                                         
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/zhangbaoyong.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        长期专注座舱和智能网联信息系统。曾任国内民用航电头部企业产品市场VP，负责机载信息娱乐系统。 </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->

    <!-- sunxiaohua -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/sunxiaohua.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span
                                                class="h2 text-primary">孙效华</span></a>
                                        
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/sunxiaohua.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        现任南方科技大学创新创意设计学院讲席教授，机器人研究院副院长。孙效华教授长期从事交互设计和智能技术领域的研究，有 20 余年的学术与业界经验，曾在 MIT CECI、MIT 媒体实验室、FXPAL、IBM 研究院、美国克拉克森大学、同济大学等机构从事研究与教学。孙效华教授曾任同济大学设计创意学院副院长、同济大学数字创新中心负责人、同济-麻省理工城市科学联合实验室负责人、 上海设计学高峰学科人工智能与大数据创新方向负责人、中国工业设计协会信息与交互专业委员会主任委员。 
<br><br>
孙效华教授主要在服务机器人自适应学习、自动驾驶人车交互、智能医疗与康养等方面开展前沿探索与实践, 与华为、阿里、腾讯、上汽、英特尔、福特、 VGC、PSA、SAP、西门子、飞利浦等知名企业长期开展合作，推动了相关领域的技术与产品创新。孙效华教授于 2000-2007 年在麻省理工学院获校长奖学金支持攻读了交叉学科专业“设计与计算”的硕士与博士学位。

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->

    <!-- hedengbo -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/hedengbo.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span class="h2 text-primary">贺登博 </span></a>
                                         
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/hedengbo.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        香港科技大学（广州）系统枢纽智能交通学域以及机器人与自主系统学域助理教授，博士生导师。毕业于多伦多大学。长期从事人因、驾驶员行为、自动驾驶和低空飞行器人机交互相关的研究工作。曾获得美国人因工程协会（Human Factors and Ergonomics Society) Jerome H. Ely Human Factors Article Award、美国人因工程协会年度最佳学生论文提名（1/3）、多伦多大学 Mart Liinve Graduate Scholarship 奖学金等多项荣誉。近3 年已发表国际期刊论文 近30篇，国际会议论文 20余篇，专著 2 章。长期受邀担任 IEEE T-ITS，IEEE THMS，Transportation Research Part D/Part F，International Journal of Human Computer Interaction, Human Factors 等 20 余种国际顶级期刊和会议的审稿专家。近三年承担国家及省市级科研项目 5项，横向科研项目 7 项，参与国内头部低空飞行器企业产品研发项目。                                                     </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->

    <!-- gaolingyun -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/gaolingyun.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span class="h2 text-primary">高凌云</span></a>
                                         
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/gaolingyun.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        香港中文大学硕士&香港科技大学MBA，香港科技大学深港协同创新研究院执行总监，港科大蓝海湾孵化港执行总监。2015年加入香港科大，主导搭建了港科大深圳创新创业体系和港科大蓝海湾孵化港，孵化了近200家初创企业，其中超过30家为港科大教授/港科大技术转化项目。参与了港科大在深圳前海、河套的拓展和建设，重点负责港科大深圳产学研合作，科研成果转化及科技创新工作。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->


    <!-- liujingyuan -->
    <div class="bg-light rounded-lg mx-3 mx-md-11 mb-3">
        <div class="container space-1">
            <div class="card bg-transparent shadow-none">
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light"
                            data-options='{direction: "reverse"}' style="overflow: visible;">
                            <div
                                data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                                <img class="img-fluid rounded-lg shadow-lg"
                                    src="{{ site.baseurl }}/assets/img/committee/100x100/liujingyuan.jpg"
                                    alt="Image Description">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-10">
                        <!-- Card Body -->
                        <div class="card-body h-100 rounded-lg p-0 p-md-2">

                            <div class="row">
                                <div class="col-lg-12 mb-3 mb-lg-0">
                                    <div class="pr-lg-5">
                                        <a href="#"><span class="h2 text-primary">刘景渊</span></a>
                                         
                                        <hr>

                                        <div class="media">
                                            <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                                                <img class="avatar-img"
                                                    src="{{ site.baseurl }}/assets/img/committee/100x100/liujingyuan.jpg"
                                                    alt="Image Description">
                                            </div>

                                            <div class="media-body">
                                                <div class="">
                                                    <p class="text-justify">
                                                        中国银河证券首席投资顾问 ，银河证券上海分公司机构业务中心业务总监。央企券商从事财富管理与机构业务，在海外家族办公室股权激励，质押，企业保险信托，行业投研，在跨境资产配置上有丰富经验。曾为台海机电、蓝光发展、科伦药业等多家上市公司进行大宗业务。
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Section -->


</main>