---
layout: 24/default
---

<div class="navbar navbar-vertical" id="sider-menu" style="position: fixed; z-index: 2147483647; max-width: 16rem;">
    <ul class="navbar-nav navbar-nav-lg nav-tabs">
        <li role="presentation" class="nav-item "><a class="nav-link active" href="#paper">Paper & LBW</a></li>
        <!-- <li role="presentation" class="nav-item"><a class="nav-link" href="#callforworkshop">Workshop</a></li> -->
        <li role="presentation" class="nav-item"><a class="nav-link" href="#callforartworks">Artworks</a></li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#paper">Paper & LBW</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#callforworkshop">Workshop</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#callforartworks">Artworks</a>
      </li> -->
    </ul>
  </div>


<div class="blockList">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9"  id="paper">
        <h2>Call for Papers and Late Breaking Works
            <br>
            <span style="color:red">(Submission Deadline Extended/征稿日期延期)</span></h2>
        <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
            href="https://easychair.org/conferences/?conf=chchi2024" target="_blank"> Submit <i
                class="fas fa-angle-right"></i></a>
    </div>
    
    <div class="container space-1 mt-n4">
        <div class="tab-wrapper">
            
            <ul class="nav nav-classic" id="paper-tab-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="paper-result-tab-1" data-toggle="pill" href="#paper-result-1" role="tab"
                        aria-controls="paper-result-1" aria-selected="true">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="paper-html-tab-1" data-toggle="pill" href="#paper-html-1" role="tab"
                        aria-controls="paper-html-1" aria-selected="false">中文</a>
                </li>
            </ul>
            
    
            
            <div class="tab-content" id="paper-tabContent-1">
                <div class="tab-pane active show p-4" id="paper-result-1" role="tabpanel"
                    aria-labelledby="paper-result-tab-1">
                    <p class="text-justify">
                        The International Chinese Association of Computer Human Interaction (ICACHI) is delighted to announce the upcoming Chinese CHI 2024 conference will occur in the Southern University of Science and Technology, Shenzhen, China, from November 22th to 25th, 2024. The conference theme for this year is "Innovation. Creativity. Integration."<br>
                        <br>
                        Chinese CHI is the premier venue for connecting Chinese HCI researchers, practitioners, and industry leaders worldwide. Since its inception in 2012, Chinese CHI has successfully been held in Paris, Toronto, Seoul, Silicon Valley, Guangzhou, Montreal, Xiamen, and Bali. Accepted papers at the conference are published annually in ACM Digital Library and EI Compendex.<br>
                        <br>
                        In the era of emerging technologies, Chinese CHI 2024 will focus on driving transformations in interaction paradigms through technological innovation, stimulating creativity to shape more intelligent and human-centered interactive systems, and integrating multidisciplinary research outcomes to address complex real-world application scenarios. We cordially invite leading scholars, researchers, and industry leaders from around the globe to share their latest findings and practical experiences, to foster intellectual exchange and collaborative dialogue, and to explore diverse pathways through which technology can empower the future of humanity.
                        <br>
                        <br>
                        We invite contributions to Chinese CHI 2024 across a variety of research domains, including but not limited to:
                    <ul>
                        <li>User Experience and Usability</li>
                        <li>Health, Accessibility and Aging</li>
                        <li>Games and Play</li>
                        <li>Generative AI and HCI</li>
                        <li>Human-Robot Interaction</li>
                        <li>Affective Computing & Intelligent Interaction</li>
                        <li>Visualization</li>
                        <li>Design</li>
                        <li>Privacy, Security, Ethics and Critical Computing</li>
                        <li>Interaction Techniques, Devices and Modalities</li>
                        <li>Understanding People: Theory, Concepts, Methods</li>
                        <li>Engineering Interactive Systems and Technologies</li>
                        <li>Specific Application Areas</li>                    
                    </ul>
                    On top of that, we particularly welcome submissions in the Chinese cultural context, with example topics including but not limited to:
                    <ul>
                        <li>Chinese Traditional Culture Oriented HCI</li>
                        <li>Chinese Cultural Heritage Oriented HCI</li>
                        <li>Technology Use or Development in the Chinese Context</li>
                        <li>Understanding Chinese Users</li>
                        <li>Community Engagement in China</li>                 
                    </ul>
                    </p>
    
                    <h3>Important Dates for Papers</h3>
                    <!-- <p class="text-justify">
                        All times are in Anywhere on Earth (AoE) time zone.
                    </p> -->
                    <p class="text-justify">
                    <ul>
                        <li>Abstract Submission: <strong style="color:black;">August 31, 2024, 23:59 (AoE)</strong></li>
                        <li style="text-decoration: line-through">Full Paper Submission: <strong style="color:black;">September 20, 2024, 23:59 (AoE)</strong></li>
                        <li style="text-decoration: line-through">Full Paper Submission (closed): <strong>September 30, 2024, 23:59 (AoE)</strong></li>
                        <li style="color:red">Decision Notification: <strong>No earlier than November 10, 2024</strong></li>
                    </ul>
                    </p>
                    <p style="color:red">A full paper can be directly submitted without prior abstract submission.</p>
                    <h3>Important Dates for Late Breaking Works</h3>
                    <!-- <p class="text-justify">
                        All times are in Anywhere on Earth (AoE) time zone.
                    </p> -->
                    <p class="text-justify">
                    <ul>
                        <li style="text-decoration: line-through">Full Paper Submission: <strong style="color:black;">September 30, 2024, 23:59 (AoE)</strong></li>
                        <li style="text-decoration: line-through">Full Paper Submission (closed): <strong>October 10, 2024, 23:59 (AoE)</strong></li>
                        <li style="color:red">Decision Notification: <strong>No earlier than November 10, 2024 </strong></li>
                    </ul>
                    <h3>Submission Guidelines</h3>
                    <p class="text-justify">
                    All submissions for Chinese CHI are to be:
                    <ul>
                        <li>Written in English.</li>
                        <li>Original and not simultaneously submitted to another journal or conference.</li>
                        <li>Anonymized and without any information identifying the authors in the main text.</li>
                    </ul>
                    </p>
    
                    <h4>Formatting</h4>
                    <p class="text-justify">
                    All submissions for Chinese CHI are to be written in English. Instructions for Word, LaTex, and Overleap authors are given below.
                        <ul>
                            <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx" target="_blank">Word</a></li>
                            <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip" target="_blank">LaTex</a></li>
                            <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc" target="_blank">Overleaf</a></li>
                        </ul>
                    
                    </p>
    
                    <h4>Length limits</h4>
                    <p class="text-justify">
                        The following length limits are imposed for submissions: 
                        <ul>
                            <li>Papers: 20 pages max, excluding references. </li>
                            <li>Late Breaking Works: 8 pages max, excluding references.</li>
                        </ul>
                    </p>
    
                    <h4>Review Process</h4>
                    <p class="text-justify">
                        Submissions are subject to blinded peer reviewing. Authors submitting papers and late-break works must comply with the Chinese CHI reviewing policy including, but not limited to:
                        <ul>
                            <li>To ensure the integrity of the peer review process, we ask that no authors publicize the work until that process is complete.</li>
                            <li>The work submitted is not currently under review at any other publication venue.</li>
                            <li>The submission is original and is an honest representation of the underlying work.</li>
                        </ul>
                    </p>

                    <h4 style="color:red">Registration and Publications</h4>
                    <p class="text-justify">
                        Upon acceptance, at least one author of each accepted paper must be registered to attend the conference. <span style="color:red">Accepted papers at the conference are published annually in ACM Digital Library and EI Compendex.</span>
                    </p>
    
                    <h3>Submission Details</h3>
                    <p class="text-justify">
                        Online Submission: <a href="https://easychair.org/conferences/?conf=chchi2024"
                            target="_blank">Easychair</a>
                        <br>
                        <br>
                        We look forward to meeting you in Chinese CHI 2024!
                    </p>
                </div>
                <div class="tab-pane fade p-4" id="paper-html-1" role="tabpanel" aria-labelledby="paper-html-tab-1">
                    <p class="text-justify">
                        世界华人华侨人机交互协会（International Chinese Association of Computer Human Interaction，简称“ICACHI”）举办的 Chinese CHI 2024 会议将于2024年11月22日至25日在中国深圳南方科技大学举办。本次会议主题为：创新（Innovation）、创造 （Creativity）、整合 （Integration）。
                        <br>
                        <br>
                        由世界华人华侨人机交互协会（ICACHI）举办的这一学术会议已成为连接世界范围内的华人HCI学者、学术界和产业界的重要会议。从2012年起，Chinese CHI已分别在巴黎、多伦多、首尔、硅谷、中国广州、加拿大蒙特利尔、中国厦门以及印度尼西亚巴厘岛成功举办。历届会议发表论文均会收录于ACM Digital Library，并提交EI检索。
                        <br>
                        <br>
                        在人工智能涌现的时代，本次会议将重点关注如何通过技术创新推动交互方式的变革，如何激发创造力，塑造更智能和人性化的交互系统，以及如何整合多学科研究成果应对复杂的实际应用场景。我们诚挚邀请全球顶尖学者、研究人员和业界领袖，分享他们的最新研究成果和实践经验，碰撞思想、交流经验，共同探索技术赋能人类未来的多元路径。
                        <br>
                        <br>
                        征稿范围 (包括但不限于) :
                    <ul>
                        <li>User Experience and Usability</li>
                        <li>Health, Accessibility and Aging</li>
                        <li>Games and Play</li>
                        <li>Generative AI and HCI</li>
                        <li>Human-Robot Interaction</li>
                        <li>Affective Computing & Intelligent Interaction</li>
                        <li>Visualization</li>
                        <li>Design</li>
                        <li>Privacy, Security, Ethics and Critical Computing</li>
                        <li>Interaction Techniques, Devices and Modalities</li>
                        <li>Understanding People: Theory, Concepts, Methods</li>
                        <li>Engineering Interactive Systems and Technologies</li>
                        <li>Specific Application Areas</li>                    
                    </ul>
                    此外，会议也关注中国文化背景下的人机交互，选题包括但不限于：
                    <ul>
                        <li>Chinese Traditional Culture Oriented HCI</li>
                        <li>Chinese Cultural Heritage Oriented HCI</li>
                        <li>Technology Use or Development in the Chinese Context</li>
                        <li>Understanding Chinese Users</li>
                        <li>Community Engagement in China</li>                 
                    </ul>
                    </p>
    
                    <h3>截止日期</h3>
                    <p class="text-justify">
                        自本征文通知发布之日起接收长文（Paper）和短文（Late Breaking Work）论文投稿，本届会议征稿截止时间为:
                    </p>
                    <p class="text-justify">
                        长文 (Papers) 截止时间（已结束）:
                    <ul>
                        <li style="text-decoration: line-through">长文摘要：<strong style="color:black;">2024年8月31日 23:59 (AoE时间)</strong></li>
                        <li style="text-decoration: line-through">长文全文：<strong style="color:black;">2024年9月20日 23:59 (AoE时间)</strong></li>
                        <li style="text-decoration: line-through">长文全文：<strong>2024年9月30日 23:59 (AOE时间)</strong></li>
                        <li style="text-decoration: line-through">短文全文：<strong style="color:black;">2024年9月30日 23:59 (AoE时间)</strong></li>
                        <li style="text-decoration: line-through">短文全文：<strong>2024年10月10日 23:59 (AOE时间)</strong></li>
                       <br>
                        <li style="color:red">长文类录用结果通知时间：<strong>2024年11月10日 (AOE时间)之后</strong></li>
                        <li style="color:red">短文类录用结果通知时间：<strong>2024年11月10日 (AOE时间)之后</strong></li>
                        <!-- <li>长文类录用结果通知：<strong style="color:black;">2023年10月3日 (AOE时间)</strong></li> -->
                    </ul>
                    <!-- 短文 (Late Breaking Work) 截止时间:
                    <ul>
                        <li>全文：<strong style="color:black;">2023年8月31日 23:59 (AOE时间)</strong></li>
                        <li>短文类录用结果通知：<strong style="color:black;">2023年10月10日 (AOE时间)</strong></li>
                    </ul> -->
                    </p>
                    <p style="color:red">注：未提交摘要者，可直接投稿全文</p>
    
                    <h3>稿件要求</h3>
                    <p class="text-justify">
                        <ul>
                            <li>本次会议仅接受英文投稿。</li>
                            <li>所有投稿的全部作者均需匿名，且正文中不出现与作者身份相关的信息。</li>
                            <li>
                                格式须采用ACM Conference Proceedings Primary Article Template模板，模版下载：
                                <ul>
                                    <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx" target="_blank">Word格式</a></li>
                                    <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip" target="_blank">LaTex格式</a></li>
                                    <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc" target="_blank">Overleaf</a></li>
                                </ul>
                            </li>
                            <li>长文来稿长度：20页以内（不含参考文献）；短文来稿长度：8页以内（不含参考文献）。</li>
                            <li>投稿到 Chinese CHI 2024的论文必须是未公开发表过的，并且不能同时被投稿到其他会议和期刊。</li>
                            <li>作者应遵守学术规范。大会委员会将严格把关论文质量，严查学术不端，出现相关问题责任由作者本人承担，协会将保留追究作者责任的权利。</li>
                        </ul>
                    </p>
    
                    <h3>稿件提交</h3>
                    <p class="text-justify">
                        来稿须通过<a href="https://easychair.org/conferences/?conf=chchi2024"
                            target="_blank">Easychair</a>会议系统在线提交。
                    </p>
    
                    <h3>论文录用</h3>
                    <p class="text-justify">
                        长文、短文类稿件审稿流程均采取匿名同行评议（Blinded Peer Review），并邀请人机交互领域经验丰富的学者担任审稿工作。    
                        <br>
                        <br>
                        <span  style="color:red">论文经同行评议获得录取后，将由作者在会议期间进行展示，<strong>至少有一名作者需缴纳会议注册费</strong>，详细注册信息请参见会议官网。<strong>会议论文将被收录于ACM Digital Library，并提交EI检索。</strong></span>
                        <br>
                        <br>
                        欢迎各位同仁踊跃投稿！
                    </p>
    
    
    
                </div>
            </div>
           
        </div>
    
    </div>
    <!-- Team Section -->
    </div>   


    <div class="blockList">
        <!-- Title -->
        <hr class="text-center space-1" id="callforartworks">
        <!-- End Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9">
            <h2>Call for Artworks 2024</h2>
            <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
                href="https://ayn9fuztpg.feishu.cn/share/base/form/shrcn7FuCO8oFrsdFokpaKIKIYb" target="_blank"> Submit</a>
        </div>
        
        <div class="container space-1 mt-n4">
            <div class="tab-wrapper">
                
                <!-- <ul class="nav nav-classic" id="com-tab-1" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="com-result-tab-1" data-toggle="pill" href="#com-result-1" role="tab"
                            aria-controls="com-result-1" aria-selected="true">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="com-html-tab-1" data-toggle="pill" href="#com-html-1" role="tab"
                            aria-controls="com-html-1" aria-selected="false">中文</a>
                    </li>
                </ul> -->
                
        
                
                <div class="tab-content" id="com-tabContent-1">
                    <div class="tab-pane active show p-4" id="com-result-1" role="tabpanel" aria-labelledby="com-result-tab-1">
                        <h3>Quick Facts</h3>
                        <p class="text-justify">
                            Chinese CHI 2024 is structured as a hybrid conference from Nov 22-25, 2023 in Shenzhen, China.
                        </p>
        
                        <h3>Important Dates</h3>
                        <p class="text-justify">
                            All times are in Anywhere on Earth (AoE) time zone. When the deadline is day D, the last time to submit is when D ends AoE. <a href="https://time.is/Anywhere_on_Earth" target="_blank">Check your local time in AoE</a>.
                        <ul>
                            <li>Submission deadline: <strong style="color:black;">October 20, 2024</strong></li>
                            <li>Notification: <strong style="color:black;">November 1, 2024</strong></li>
                            <li>Exhibition arrangement completed deadline: <strong style="color:black;">November 21, 2024</strong></li>
                            <li>Award announcement: <strong style="color:black;">November 24, 2024</strong></li>
                        </ul>
                        </p>
        
                        <h3>Theme</h3>
                        <p class="text-justify">
                            The 2024 <strong style="color:black;">Chinese CHI Art Gallery</strong> takes on a new dimension with the theme <strong style="color:black;">Innovation · Creativity · Integration</strong>. This year, we’re not just showcasing art — we’re inviting creators to transcend boundaries, break down disciplinary walls, and infuse their work with innovation, creative spirit, and integrative thinking to craft experiences that push beyond the present.
                            <br>
                        <strong style="color:black;">Innovation</strong> drives bold visions of the future. <strong style="color:black;">Creativity</strong> manifests through limitless forms of expression. <strong style="color:black;">Integration</strong> merges ideas and technologies from diverse realms into cohesive, groundbreaking wholes. This year’s gallery will be a stage for dynamic clashes of thought, a breeding ground for inspiration, and a space where any work that is disruptive, exploratory, and experimental can find its unique voice.
                            <br>
                            We call on artists and designers to rethink the relationship between art and technology. Whether through abstract concepts or tangible practices, if your creation breaks tradition, sparks conversation, or challenges the existing paradigms of human-computer interaction, it belongs here.
                            <br>
                            Recommended themes include:
                            <ul>
                                <li>Blurring Boundaries: Where Art, Science, and Humanity Meet </li>
                                <li>Affective Interfaces: Reimagining HCI interfaces </li>
                                <li>Cultural Fusion: Innovation through Tradition and Modernity </li>
                                <li>Enhancing Lives: Wellbeing in HCI </li>
                            </ul>
                            The Chinese CHI 24 Arts Gallery will combine both a physical space for experiencing works and an online selection for exhibition. Selected digital works will also be shown within the exhibition space in Shenzhen.
                        </p>
                        
        
                        <h3>Preparing and Submitting</h3>
                        <p class="text-justify">
                            The artworks proposed can include many different forms including installation, video, sound, vision, and performance, as well as works that are not so easily categorized. 
                            <br>
                            Submissions to the Arts Gallery & Competition for Chinese CHI2024 are non-anonymous (i.e. names and affiliations should be included in the proposal materials). Submissions must be made through <a href="https://ayn9fuztpg.feishu.cn/share/base/form/shrcn7FuCO8oFrsdFokpaKIKIYb" target="_blank">Here</a>.    
                            <br>
                      
                            Each artwork can only be submitted once. If you have any questions, please contact Art Gallery Chairs at <a href="mailto:artworkchchi@126.com">artworkchchi@126.com</a>.
                            <br>

                            Submissions must include the following four elements: 
                        </p>
                        <p class="text-justify">
                            <strong class="text-dark">1. Introduction. </strong> An abstract 200 words long. (Including artist’s statement giving background to the ideas, creation process, and any research related to the artwork)
                        </p>
        
                        <p class="text-justify">
                            <strong class="text-dark">2. Static Image. </strong> Also required is one still image of the work of at least 1500×1200 pixels for describing your work.
                        </p>
        
                        <p class="text-justify">
                            <strong class="text-dark">3. Video. </strong> In addition, artists are strongly encouraged to submit a video of up to 2 mins in length for review purposes only. In this case, authors must provide less than 100MB (in MP4 using the codec H264) or provide a link (e.g., YouTube, Vimeo) in the proposal document. The video may be password protected; if this is the case, submitters must include the password with the link.
                        </p>
        
                        <p class="text-justify"> 
                            <strong class="text-dark">4. Artwork Specification and Needs.</strong>
                            A separate supplemental specification document as a PDF file should be included. This should describe installation and space requirements for the work, as well as the indicative size and any unusual set up requirements. The specification should include up to four photographs or diagrams of the setup, and should outline basic technical requirements needed. In addition, this document should detail any potential risks (e.g. safety) and how the artwork intends to manage these risks. 
                        </p>
        
                        <p class="text-justify"><strong class="text-dark">5. Authorization (after acceptance). </strong>After the artwork has been officially accepted, the author's group will be required to submit an authorization statement for the use of the artwork to the Chinese CHI Committee for online and offline exhibition and dissemination.
                        </p>
        
                        <h3>Awards</h3>
                        <p class="text-justify">
                            All finalists earn a Certificate of Recognition. The winning entry will be recognized during the closing plenary session of the Chinese CHI 2023 conference. There will be <strong style="color:black;">one "Best Artwork Awards", two "Academy Awards", three "Innovation Awards" and five "Rising Star Awards"</strong>.  
                        </p>
        
                        <h3>Selection Process and Criteria for Selection</h3>
                        <p class="text-justify">
                            We are looking for insightful, playful, thought-provoking, evocative, critical, digital and interactive art experiences created by as diverse and broad group of creative practitioners as possible.
                            <br>
                            <br>
                            <strong class="text-dark">Submitted proposal documents</strong> may be selected for the exhibition catalog (and conference proceedings) or for both the exhibition catalog (and conference proceedings) and the exhibition.
                            <br>
                            <br>
                            Selection of works for exhibition in Shenzhen will be based on the following criteria.
                            <ul>
                            <li><strong class="text-dark">Originality and Novelty: </strong>the proposal should demonstrate work that is highly original, creative and imaginative. It should exemplify novel concepts in surprising and challenging ways that add something to what exists already.</li>
                            <li><strong class="text-dark">Aesthetics: </strong>the work should have a strong aesthetic element and communicate effectively through form, function, behavior and emotion. Aesthetically interesting qualities include features that are pleasing and exciting as well as provocative.</li>
                            <li><strong class="text-dark">Realization: </strong>the work should have a tangible aspect, in the form of an installation, object or art piece that can be included at a reasonable cost. It should be built and executed to a high standard suitable to be exhibited at Chinese CHI 24.</li>
                            <li><strong class="text-dark">Response to theme: </strong>The work provides a critical or reflective response or commentary to the main conference theme of resilience.</li>
                        </ul>
                        </p>
        
                        <h3>At the Conference / Selected Works </h3>
                        <p class="text-justify">
                            Selected works will be displayed as part of the Art Gallery. Selected artists should be available prior to the main conference for installation of artworks.  Full instructions will be provided at the time of acceptance.
                        <br>
                        <br>
                        *Please note that no funds are available to support the shipping or insurance of artworks or for artists’ fees. Suitable insurance should be arranged by individual contributors. Exhibiting artists in situ in Shenzhen must be willing to deal with the delivery and installation of any works and provide suitable instructions for any operation details. Artists will need to make arrangements for the removal of their work after the physical show should they be selected. All works must be original and non-infringing of other rights holders within a legal definition.</p>
        
                        <h3>Venue</h3>
                        <p class="text-justify">
                            To be announced.
                        </p>
        
                        <h3>Chinese CHI 2024  Art Gallery & Competition Chair </h3>
                        <p class="text-justify">
                            <ul>
                            <li>姚远 Yuan Yao, Beijing Jiaotong University, Beijing, China </li>
                            <li>洪昀 Yun Hong, Tianjin Academy of Fine Arts, Tianjin, China</li>
                            <li>陈琦 Qi Chen, Wuhan Textile University, Wuhan, Hubei, China</li>
                            <li>Mirna Zordan, Southern University of Science and Technology, Shenzhen, China</li>
                        </ul> 
                        <br>
                        If you have any question, please contact <a href="mailto:artworkchchi@126.com">artworkchchi@126.com</a> 
                        </p>
                    </div>
        
                    <!-- <div class="tab-pane fade p-4" id="com-html-1" role="tabpanel" aria-labelledby="com-html-tab-1">
                        <p class="text-justify">
                            我们邀请来自不同设计背景（人机交互、工业设计、产品设计、视觉设计、用户体验和交互设计等）的学生参加本次学生竞赛（现场或线上）。
                        </p>
                        <p class="text-justify">
                            Chinese CHI 本比赛旨在展示学生们在人机交互设计和用户体验方面的想法和技能，并提供机会来扩大您的设计作品的知名度，并从专家那里获得反馈。
                        </p>
                        <p class="text-justify">
                            提交的材料将由相关领域经验丰富的专家组成的委员会进行评审（稍后公布），并由观众在线投票。最终获奖者将被邀请在数字艺术作品展上展示获奖作品，并获得ICACHI颁发竞赛获奖证书。
                        </p>
                        <h3>重要日期</h3>
                        <p class="text-justify">
                        <ul>
                            <li>提案提交截止日期：<strong style="color:black;">2022 年 8 月 30 日 23:59</strong></li>
                            <li>评审通知：<strong style="color:black;">2022 年 9 月 30 日 23:59</strong></li>
                        </ul>
                        </p>
        
                        <h3>提交指南</h3>
                        <p class="text-justify">
                            <strong class="text-dark">1. 海报: </strong>海报设计应为一个标准信件页大小，并以PDF格式提交，文件大小不得超过10 Mb。海报内容应包括：
                        <ul>
                            <li>建议的解决方案名称、团队与作者名称、学校名称</li>
                            <li>解决设计挑战的观点</li>
                            <li>解决方案的简要说明</li>
                            <li>清晰地展示提出的解决方案的关键信息</li>
                        </ul>
                        </p>
        
                        <p class="text-justify">
                            <strong class="text-dark">2. 视频:
                            </strong>团队应提供视频（最多5分钟），文件大小不超过100Mb。视频应说明您的方案如何解决交互场景下的设计挑战。还可说明交互界面的一些细节和相关信息。补充视频包括：
                        <ul>
                            <li>重要背景数据及其分析示例 </li>
                            <li>设计灵感的主要创意来源（现有设计和系统）</li>
                            <li>解决方案的草图</li>
                            <li>描述解决方案如何适应设计挑战的场景</li>
                            <li>相关交互和设计信息</li>
                        </ul>
                        </p>
        
                        <p class="text-justify">
                            <strong class="text-dark">3. 学生身份证明: </strong>提交一份由您的学术导师签署的说明，以验证以下所有信息：
                        <ul>
                            <li>您的学校 </li>
                            <li>工作完成时，您的身份是研究生还是本科生</li>
                            <li>所有学生的学生身份证明</li>
                        </ul>
                        </p>
                        <p class="text-justify">4. 请将您的上述提交材料压缩成<strong class="text-dark">ZIP文件</strong>并将其发送到以下电子邮件地址：<a
                                href="competition_chichi@163.com" target="_blank">competition_chichi@163.com</a></p>
        
                        <p class="text-justify"><strong class="text-dark">注意: </strong>在提交邮件中，请注明您是希望现场还是仅在线参与。</p>
        
                        <h3>比赛评选标准</h3>
                        <p class="text-justify">请确保所提交的材料不包含侵权或涉密材料，也不引用侵权或涉密出版物。</p>
                        <p class="text-justify">
                            海报和视频提交将根据以下内容进行审查：
                        <ul>
                            <li>简要描述您的设计如何符合今年的会议主题</li>
                            <li>与提出的挑战相关的设计重点、目的和解决方案的清晰性和可信度</li>
                            <li>设计解决方案的独创性和质量，包括声明及其支持文献等</li>
                            <li>设计过程中的创新性、艺术性与人性化考虑</li>
                        </ul>
                        </p>
                    </div> -->
                </div>
               
            </div>
        
        </div>
        <!-- Team Section -->
        </div>