---
layout: 24/default
---
<div class="w-md-80 w-lg-50 text-center mx-md-auto">
    <h2>Committee Members</h2>
</div>

<div class="container space-1 ">
    <div class="row mx-n2 mb-5 justify-content-center">
        <div class="col-sm-12 col-lg-6 px-2 mb-3">

            <div class="row mx-n2 justify-content-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">General Co-Chair</h4>
                    </div>
                    <a href="https://designschool.sustech.edu.cn/cn/about/team/faculty/620.html" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Tom Kvan.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">关道文 Tom Kvan</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 px-2 mb-3">

            <div class="row mx-n2 justify-content-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                        <h4 class="text-body h6 text-cap">General Co-Chair</h4>
                    </div>
                    <a href="https://www.ad.tsinghua.edu.cn/info/1229/15141.htm" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/FuZhiyong.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">付志勇 Zhiyong Fu</h4>
                                <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Local Chair</h4>
            </div>
            <div class="row mx-n2 justify-content-md-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://designschool.sustech.edu.cn/cn/about/team/management-team/250.html" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/lixu.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">李旭 Xu Li </h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">Program Chair</h4>
            </div>
            <div class="row mx-n2 justify-content-md-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://designschool.sustech.edu.cn/cn/about/team/faculty/696.html" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Xiaohua SUN.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">孙效华 Xiaohua Sun</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 px-2 mb-3">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
                <h4 class="text-body h6 text-cap">International Chair</h4>
            </div>
            <div class="row mx-n2 justify-content-md-center">

                <div class="col-sm-6 col-lg-12 px-2 mb-3">
                    <a href="https://www.sustech.edu.cn/en/faculties/seungwooje.html" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/SeungwooJe.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">Seungwoo Je</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Paper Chairs</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://thfl.tsinghua.edu.cn/yjdw/bs/fxy/index.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/fuxinyi.png"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">付心仪 Xinyi Fu</h4>
                        <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://shi.buaa.edu.cn/wangyun/zh_CN/index.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wangyun.png"
                                alt="Image Description">
                        </div>

                        <h4 class="text-lh-sm">王韫 Yun Wang</h4>
                        <p class="font-size-1">北京航空航天大学 <br>Beihang University </p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://www.sfu.ca/computing/people/faculty/xing-dong-yang.html" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/yangxingdong.jpg"
                                alt="Image Description">
                        </div>

                        <h4 class="text-lh-sm">楊興棟 Xing-Dong Yang</h4>
                        <p class="font-size-1">西蒙·弗雷泽大学 <br>Simon Fraser University</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>

    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">LATE BREAKING WORK CHAIRS</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://taoye.me/CV" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/taoye.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">陶冶 Ye Tao</h4>
                        <p class="font-size-1">浙大城市学院 <br>Hangzhou City University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://fzys.dhu.edu.cn/2022/0621/c9847a296695/page.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wangyanan.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">王亚男 Yanan Wang</h4>
                        <p class="font-size-1">东华大学 <br>Donghua University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://www.sustech.edu.cn/zh/faculties/baiziqian.html" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/baiziqian.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">白紫千 Ziqian Bai</h4>
                        <p class="font-size-1">南方科技大学<br>SUSTech</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>

    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">WORKSHOP CHAIRS</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://anpengcheng.cn" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/anpengcheng.jpeg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">安鹏铖 Pengcheng An</h4>
                        <p class="font-size-1">南方科技大学<br>SUSTech</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://www.sigs.tsinghua.edu.cn/fk_4679/main.htm"
            target="_blank">
            <div class="card h-100 transition-3d-hover text-center">
                <div class="card-body">
                    <div class="avatar avatar-lg avatar-circle mb-4">
                        <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/fangke.jpg"
                            alt="Image Description">
                    </div>
                    <h4 class="text-lh-sm">方可 Ke Fang</h4>
                    <p class="font-size-1">清华大学深圳国际研究生院<br>Tsinghua SIGS</p>
                </div>
            </div>
        </a>
            
        </div>

        <div class="col-sm-6 col-lg-4 px-2 mb-3">
            
            <a href="https://sdim.sustech.edu.cn/index/teacher_detail?id=55" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhangjiaxin.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">张嘉欣 Jiaxin Zhang</h4>
                        <p class="font-size-1">南方科技大学<br>SUSTech</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>


    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Art Gallery CHAIRS</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-6 col-lg-3 px-2 mb-3">
            
            <a href="https://designschool.sustech.edu.cn/cn/about/team/faculty/571.html" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/Mirna ZORDAN.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">Mirna Zordan</h4>
                        <p class="font-size-1">南方科技大学<br>SUSTech</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-3 px-2 mb-3">
            
            <a href="http://saad.bjtu.edu.cn/szll/mtysjyzx/188275.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/yaoyuan.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">姚远 Yuan Yao</h4>
                        <p class="font-size-1">北京交通大学 <br>Beijing Jiaotong University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-3 px-2 mb-3">
            
            <a href="#" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/chenqi.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">陈琦 Qi Chen</h4>
                        <p class="font-size-1">武汉纺织大学 <br>Wuhan Textile University</p>
                    </div>
                </div>
            </a>
            
        </div>

        <div class="col-sm-6 col-lg-3 px-2 mb-3">
            
            <a href="https://thfl.tsinghua.edu.cn/yjdw/yjs/zxjg/qt/hy.htm" target="_blank">
                <div class="card h-100 transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/hongyun.png"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">洪昀 Yun Hong</h4>
                        <p class="font-size-1">天津美术学院<br>Tianjin Academy of Fine Arts</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>



<div class="row">
    <div class="col-sm-12 col-lg-4 px-2 mb-3">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Technical Chair</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <a href="#" target="_blank">
            <div class="card transition-3d-hover text-center">
                <div class="card-body">
                    <div class="avatar avatar-lg avatar-circle mb-4">
                        <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wangchen-avatar.png"
                            alt="Image Description">
                    </div>
                    <h4 class="text-lh-sm">王晨 Chen Wang</h4>
                    <p class="font-size-1">高知工科大学 <br>Kochi University of Technology</p>
                </div>
            </div>
        </a>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-lg-8 px-2 mb-3">
        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Publicity Chairs</h4>
            <div class="row">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/yuxin.jpeg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">徐雨欣 Yuxin Xu</h4>
                                <p class="font-size-1">多伦多大学 <br>University of Toronto</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#"
                        target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhihanzhang1.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">张子晗 Zihan Zhang
                                </h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

    </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-4 px-2 mb-3">
    
 <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Publication Chair</h4>
    </div>
    <div class="row mx-n2 mb-5 justify-content-md-center">
        <div class="col-sm-12 col-lg-12 px-2 mb-3">
            
            <a href="#" target="_blank">
                <div class="card transition-3d-hover text-center">
                    <div class="card-body">
                        <div class="avatar avatar-lg avatar-circle mb-4">
                            <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhulin.jpg"
                                alt="Image Description">
                        </div>
                        <h4 class="text-lh-sm">朱琳 Lin Zhu</h4>
                        <p class="font-size-1">清华大学 <br>Tsinghua University</p>
                    </div>
                </div>
            </a>
            
        </div>

    </div>
</div>

<div class="col-sm-12 col-lg-8 px-2 mb-3">
    <div class="col-sm-12 col-lg-12 px-2 mb-3">
        <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Sponsor Chairs</h4>
        <div class="row mx-n2 mb-5 justify-content-md-center">
            <div class="col-sm-12 col-lg-6 px-2 mb-3">
                
                <a href="https://psych.bnu.edu.cn/szdw/zrjs/fjs/lw/index.htm" target="_blank">
                    <div class="card h-100 transition-3d-hover text-center">
                        <div class="card-body">
                            <div class="avatar avatar-lg avatar-circle mb-4">
                                <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/liuwei.jpg"
                                    alt="Image Description">
                            </div>
                            <h4 class="text-lh-sm">刘伟 Wei Liu</h4>
                            <p class="font-size-1">北京师范大学 <br>Beijing Normal University</p>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-sm-12 col-lg-6 px-2 mb-3">
                
                <a href="#" target="_blank">
                    <div class="card h-100 transition-3d-hover text-center">
                        <div class="card-body">
                            <div class="avatar avatar-lg avatar-circle mb-4">
                                <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/quanfeifei.jpg"
                                    alt="Image Description">
                            </div>
                            <h4 class="text-lh-sm">权菲菲 Feifei Quan</h4>
                            <p class="font-size-1">南方科技大学<br>SUSTech</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</div>
</div>

    <div class="row mx-n2 justify-content-md-center">

        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Volunteer Chair</h4>
            <div class="row mx-n2 mb-5 justify-content-md-center">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/wanglina.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">王丽娜 Lina Wang</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card h-100 transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/andy1.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">刘迪 Andy Liu</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
    
            </div>
    
        </div>


        <div class="col-sm-12 col-lg-6 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Secretaries In General</h4>
            <div class="row">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/tongyuqi.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">佟雨琪 Yuqi Tong</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/zhaoyue.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">赵悦 Yue Zhao</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

    </div>

    <div class="row mx-n2 justify-content-md-center">

        <div class="col-sm-12 col-lg-8 px-2 mb-3">
            <h4 class="text-body h6 text-cap text-center mx-md-auto mb-7">Financial Chairs</h4>
            <div class="row">
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/hehong.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">何鸿 Hong He</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-sm-12 col-lg-6 px-2 mb-3">
                    
                    <a href="#" target="_blank">
                        <div class="card transition-3d-hover text-center">
                            <div class="card-body">
                                <div class="avatar avatar-lg avatar-circle mb-4">
                                    <img class="avatar-img" src="{{ site.baseurl }}/assets/img/committee/100x100/tangjin.jpg"
                                        alt="Image Description">
                                </div>
                                <h4 class="text-lh-sm">汤进 Jin Tang</h4>
                                <p class="font-size-1">南方科技大学<br>SUSTech</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>

    </div>
    
</div>
</div>
<!-- End Team Section -->