---
layout: 24/default
---

<!-- Info -->
<div class="container">

  <div class="text-justify mb-10" id="intro">
    {{ content }}
  </div>

</div>

  <div class="container space-1 mt-n4">
    <div class="row">
      <div class="col-12 space-1">

        <div class="row justify-content-between text-center mb-8">
          <div class="col-8 col-sm-12">

            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
              <h4 class="text-body h6 text-cap">HOST / 主办</h4>
            </div>

          <div class="row">
            <div class="col-6 col-lg-6 mb-5 mb-lg-0">
              <div class="mx-3">
                <a href="http://www.icachi.org" target="_blank">
                  <img class="mx-auto mb-8" style="max-width:12rem;"
                    src="{{ site.baseurl }}/assets/img/logo/icachi-logo.svg" alt="Image Description">
                    <h4 class="text-body h6 text-cap">世界华人华侨人机交互协会</h4>
                </a>
              </div>
            </div>
            <div class="col-6 col-lg-6 mb-5 mb-lg-0">
              <div class="mx-3">
                <a href="https://designschool.sustech.edu.cn/cn" target="_blank">
                  <img class="mx-auto mb-8" style="max-width:12rem;"
                    src="{{ site.baseurl }}/assets/img/logo/sust.svg" alt="Image Description">
                    <h4 class="text-body h6 text-cap">南方科技大学创新创意设计学院</h4>
                </a>
              </div>
            </div>

          </div>
          </div>

  </div>

  <!-- End Clients Section -->

</div>
</div>
</div>

<!-- End Info -->

