---
layout: 24/default
---

  <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-10">
      <h2>Registration</h2>
      <!-- <p>Register before October 31st to take advantage of the early bird pricing.  -->
        <!-- <br>Any workshop registration includes a lunch and coffee break service. 
        <br>Conference registration includes a reception dinner (13th), two lunch (14th, 15th) and a banquet (14th) service.</p> -->
    </div>
  <div class="container mt-4 mb-9">
      <table class="table text-center">
        <thead>
          <tr class="bg-light">
            <th scope="col" style="vertical-align: middle !important">Type / 注册类型</th>
            <th scope="col" style="vertical-align: middle !important">Enterprise / 企业注册<br></th>
            <th scope="col" style="vertical-align: middle !important">Education / 教育注册<br></th>
            <th scope="col" style="vertical-align: middle !important">Student / 学生注册<br></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-self-center mx-auto">
            <th scope="col" style="vertical-align: middle !important; text-align: left">Full Conference (Nov 22~25)
              <br>会议全程票（11月22～25日）</th>
            <td style="vertical-align: middle !important">3500 CNY</td>
            <td style="vertical-align: middle !important">2800 CNY</td>
            <td style="vertical-align: middle !important">1000 CNY</td>
            <td style="vertical-align: middle !important" rowspan="3"><script>
              function isMobileDevice() {
                  return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
              }
  
              if (isMobileDevice()) {
                  document.write(`
                      <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover" href="https://payment.sustech.edu.cn/aAppPage/index.aspx?mac=9DCFC1E93B0BF85D6D30BED209F18543#/homeMain/XmxxShow/6732612b6e3644743649373247756c306655713248413d3d" target="_blank"> 会议注册 <i class="fas fa-angle-right"></i></a>
                  `);
              } else {
                  document.write(`
                      <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover" href="https://payment.sustech.edu.cn/publish/entryInfo.aspx?rd=6732612b6e3644743649373247756c306655713248413d3d&type=exLogin" target="_blank"> 会议全程票 <i class="fas fa-angle-right"></i></a>
                  `);
              }
              </script></td>
          </tr>
          <tr class="align-self-center mx-auto">
            <th scope="col" style="vertical-align: middle !important; text-align: left">One Day Ticket<br>单日票</th>
            <td style="vertical-align: middle !important">1500 CNY</td>
            <td style="vertical-align: middle !important">1200 CNY</td>
            <td style="vertical-align: middle !important">400 CNY</td>
          </tr>
          <tr>
            <th scope="col" style="vertical-align: middle !important; text-align: left">Online Presentation (Nov 23~24)<br>线上发表（11月23~24日）</th>
            <td style="vertical-align: middle !important">900 CNY</td>
            <td style="vertical-align: middle !important">900 CNY</td>
            <td style="vertical-align: middle !important">300 CNY</td>
  
          </tr>
          <tr>
            <th scope="col" style="vertical-align: middle !important; text-align: left">Workshop Payment (Nov 22)<br>工作坊付费（11月22日）</th>
            <td style="vertical-align: middle !important; max-width: 550px; text-align: left;" colspan="3"><span style="color:red">注（11月15日更新）</span>：此付费已包含在Chinese CHI 2024会议全程票或22日单日票中。本注册仅面向无Chinese CHI 2024会议全程票注册的参会者，可注册“工作坊1：跨平台交互创新的新工具”、“工作坊2：生物HCI的可能性：探索生物HCI创新的未来场景”和“工作坊5：城市声境：城市声音日志的交互数据可视化”，其他工作坊须凭会议全程票或单日票参加。</td>
            <td style="vertical-align: middle !important"><script>
              function isMobileDevice() {
                  return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
              }
  
              if (isMobileDevice()) {
                  document.write(`
                      <a class="btn btn-outline-grey btn-pill shadow-soft transition-3d-hover mt-2" href="https://payment.sustech.edu.cn/aAppPage/index.aspx?mac=BC98DC201F67E10961A1C9620901C7BC#/homeMain/XmxxShow/2b6d4f733942337731584b764f424c4d47444b4368673d3d" target="_blank"> 工作坊付费 <i class="fas fa-angle-right"></i></a>
                  `);
              } else {
                  document.write(`
                      <a class="btn btn-outline-grey btn-pill shadow-soft transition-3d-hover mt-2" href="https://payment.sustech.edu.cn/publish/entryInfo.aspx?rd=2b6d4f733942337731584b764f424c4d47444b4368673d3d" target="_blank"> 工作坊付费 <i class="fas fa-angle-right"></i></a>
                  `);
              }
              </script></td>
          </tr>
          <tr></tr>
            <th scope="col" style="vertical-align: middle !important; text-align: left">IWHEC 2024 (Nov 22 13:00~17:40)<br>人机共协计算国际研讨会（11月22日13:00～17:40）</th>
            <td style="vertical-align: middle !important">Free</td>
            <td style="vertical-align: middle !important">Free</td>
            <td style="vertical-align: middle !important">Free</td>
            <td style="vertical-align: middle !important"><a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover" href="https://rcnhlcjvc67z.feishu.cn/share/base/form/shrcnSqxs6zrhCyiAj5qXGEnoMh" target="_blank"> IWHEC注册 <i class="fas fa-angle-right"></i></a></td>
          </tr>
        </tbody>
      </table>
  
  <br>
  <br>
  <hr class="text-center mt-4 mb-4">
   <div class="text-justify" id="forattends">
    {{ content }}
   
    <h2>参会者说明</h2>

    <h3>1. 会议全程票</h3>
    <p>会议全程票包括：人机共协计算论坛/工作坊 (Nov 22) + 会议 (Nov 23~24) + 企业参观 (Nov 25)</p>

    <h3>2. 线上发表</h3>
    <p>线上发表仅是面向无法在场的作者，为短文和艺术展作者提供，由以上两个环节主席提供在线会议室信息。</p>

    <h3>3. 住宿</h3>
    <p>南科大创新创意设计学院已在3家酒店为参会人员预留好房间。除发言嘉宾由会务组安排预订外，请参会师生和企业同仁根据自己的需要自行联系酒店，告知酒店是要入住南科大设计学院预定的房间，进行预订并自行付费。具体信息请见以下表格：</p>

    <table class="table text-center">
      <thead>
        <tr>
          <th>酒店名称</th>
          <th>酒店地址</th>
          <th>联系电话</th>
          <th>房型</th>
          <th>协议价（均含早，元/晚）</th>
          <th>离学院距离</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="4" style="vertical-align: middle !important">雅园塘朗酒店</td>
          <td rowspan="4" style="vertical-align: middle !important">南山区学苑大道田寮大厦</td>
          <td rowspan="4" style="vertical-align: middle !important">吴经理 <br>
            13618674516
            </td>
          <td style="vertical-align: middle !important">豪华大床房</td>
          <td style="vertical-align: middle !important">285</td>
          <td rowspan="4" style="vertical-align: middle !important">距离约1.3公里，走路约20分钟</td>
        </tr>
        <tr>
          <td>豪华双床房</td>
          <td>285</td>
        </tr>
        <tr>
          <td>商务大床房</td>
          <td>313</td>
        </tr>
        <tr>
          <td>商务双床房</td>
          <td>313</td>
        </tr>
        <tr>
          <td>璟峯公寓酒店</td>
          <td>南山区留仙大道4168号 <br>众冠时代广场B座</td>
          <td>金经理 <br>
            13728828561
            </td>
          <td>豪华大床房</td>
          <td>468</td>
          <td>距离约5公里，届时会有会议接驳车</td>
        </tr>
        <tr>
          <td>深铁塘朗城君璞酒店</td>
          <td>南山区留仙大道3333号<br>塘朗城西区C座6-16楼</td>
          <td>付经理 <br>
            18923459180
            </td>
          <td>山景双床房</td>
          <td>778</td>
          <td>距离约1公里，走路约15分钟</td>
        </tr>
      </tbody>
    </table>

    <p>The School of Design of SUSTech has reserved rooms for attendees in three hotels. Except for the guest speakers whose booking will be arranged by the conference team, other attendees can contact these hotels according to their own needs and inform hotels that they will be staying in the room reserved by the School of Design of SUSTech at their own expense. Please refer to the following table for detailed information:</p>

    <table class="table text-center">
      <thead>
        <tr>
          <th>Hotel Name</th>
          <th>Hotel Address</th>
          <th>Contact No.</th>
          <th>Room Type</th>
          <th>Agreement price (including breakfast, yuan/night)</th>
          <th>Distance from the School of Design</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="4" style="vertical-align: middle !important">Yayuan Talang Hotel</td>
          <td rowspan="4" style="vertical-align: middle !important">Tianliao Building, Xueyuan Avenue, <br> Nanshan District</td>
          <td rowspan="4" style="vertical-align: middle !important">Manager WU <br>
            13618674516
            </td>
          <td style="vertical-align: middle !important">Deluxe King Room</td>
          <td style="vertical-align: middle !important">285</td>
          <td rowspan="4" style="vertical-align: middle !important">About 1.3 km away, walk for about 20 mins</td>
        </tr>
        <tr>
          <td>Deluxe Twin Room</td>
          <td>285</td>
        </tr>
        <tr>
          <td>Business King Room</td>
          <td>313</td>
        </tr>
        <tr>
          <td>Business Twin Room</td>
          <td>313</td>
        </tr>
        <tr>
          <td>Jingfeng Apartment Hotel</td>
          <td>Building B, Zhongguan Times Square, No. 4168 Liuxian Avenue, Nanshan District</td>
          <td>Manager JIN <br>
            13728828561
            </td>
          <td>Deluxe King Room</td>
          <td>468</td>
          <td>About 5 km away, conference shuttle buses will be arranged</td>
        </tr>
        <tr>
          <td>Genpla Hotel Shenzhen NanShan</td>
          <td>6th to 16th floors, Building C, Tanglang City West District, No. 3333 Liuxian Avenue, Nanshan District</td>
          <td>Manager FU <br>
            18923459180
            </td>
          <td>Mountain View Twin Room</td>
          <td>778</td>
          <td>About 1 km away, walk for about 15 mins</td>
        </tr>
      </tbody>
    </table>
      
  </div>
  
  </div>