---
layout: 24/default
---

<div class="container">

    <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-md-4">
      <br>
      <h2>For Sponsors / 诚邀赞助</h2>

      <div class="tab-wrapper">
        <!-- Nav Classic -->
        <ul class="nav nav-classic" id="pills-tab-1" role="tablist">
          <li class="nav-item">

          </li>
          <li class="nav-item">
            <a class="nav-link active" id="pills-html-tab-1" data-toggle="pill" href="#pills-html-1" role="tab" aria-controls="pills-html-1" aria-selected="false">中文</a>
          </li>
        </ul>
        <!-- End Nav Classic -->

        <!-- Tab Content -->
        <div class="tab-content" id="pills-tabContent-1">

          <div class="tab-pane active show p-4 text-justify" id="pills-html-1" role="tabpanel" aria-labelledby="pills-html-tab-1">
                {{ content }}

          </div>
        </div>
        <!-- End Tab Content -->
      </div>
    </div>

  </div>
  <div class="container space-bottom-1 space-bottom-lg-1">
    <a class="btn btn-white mb-5" href="{{ site.baseurl }}/assets/img/sponsor/sponsor.pdf" target="_blank"><i class="fas fa-eye mr-1"></i>
      赞助方案PDF</a>
<img src="{{ site.baseurl }}/assets/img/sponsor/sponsor1.jpg" alt="" class="w-100">
<img src="{{ site.baseurl }}/assets/img/sponsor/sponsor2.jpg" alt="" class="w-100">

    </div>